<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="console/header">
</head>

<body>
    <section class="content-header">
        <h1>考评周期管理</h1>
    </section>
    <section class="content-header">
        <fieldset>
            <legend>查询条件</legend>
            <form id="searchbar" class="form-horizontal">
                <div class="form-group">
                    <label for="unitId" style="width:130px" class="col-sm-2 control-label">周期名称</label>
                    <div class="col-sm-2">
                        <input type="text" name="cycleName" class="form-control" placeholder="请输入周期名称" />
                    </div>
                    <label for="cycleState" style="width:100px" class="col-sm-2 control-label">周期状态</label>
                    <div class="col-sm-2">
                        <select name="cycleState" class="form-control">
                            <option value="">请选择</option>
                            <option value="1">启用</option>
                            <option value="2">暂存</option>
                            <option value="3">归档</option>
                        </select>
                    </div>
                    <label for="unitId" style="width:100px" class="col-sm-2 control-label">机构选择</label>
                    <div class="col-sm-2">
                        <input type="text" th:if="${agencyId} == null" class="form-control tonto-select-agency"  name="unitId" placeholder="请选择机构"></input>
                        <input type="text" th:if="${agencyId} != null" class="form-control" readonly="readonly" th:value="${agencyName}"></input> 
                        <input type="hidden" th:if="${agencyId} != null" class="form-control" name="unitId" th:value="${agencyId}"></input>                         
                    </div>
                </div>
                <div class="form-group">
                    <label for="assessType" style="width:130px" class="col-sm-2 control-label">考评类型</label>
                    <div class="col-sm-2">
                        <select name="assessType" class="form-control">
                            <option value="">请选择</option>
                            <option value="1">年中测评</option>
                            <option value="2">年度考评</option>
                        </select>
                    </div>
                    <label for="assessStartTime" style="width:100px" class="col-sm-2 control-label">周期时间</label>
                    <div class="col-sm-2">
                        <input type="text" name="cycleStartTime" class="form-control col-sm-2 tonto-datepicker-date" readonly="readonly" placeholder="请选择日期" />
                    </div>
                    <label for="assessEndTime" style="width:100px;text-align:center" class="col-sm-1 control-label">至</label>
                    <div class="col-sm-2">
                        <input type="text" name="cycleEndTime" class="form-control col-sm-2 tonto-datepicker-date" readonly="readonly" placeholder="请选择日期" />
                    </div>
                    <div class="col-sm-3" style="text-align:right">
                        <a onclick="query()" class="btn btn-primary">查询</a>
                        <button type="reset" class="btn">重置</button>
                    </div>
                </div>
            </form>
            </fieldset>
    </section>
    <section class="content table-content">
        <table id="dataGrid"></table>
    </section>
    <div id="toolbar">
        <div class="btn-group">
        <a onclick="templateConfig()" class="btn btn-default"><i class="glyphicon glyphicon-cog"></i>模板配置</a>
         <a onclick="view()" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>查看</a>
        <a onclick="add()" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>新增</a>
        <a onclick="edit()" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i>修改</a>
        <a onclick="remove()" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i>删除</a>
        <a onclick="archive()" class="btn btn-default"><i class="glyphicon glyphicon-cog"></i>归档</a>
        </div>
    </div>
    <div th:include="console/footer"></div>
    <script type="text/javascript">
    var table;
    $(function() {
        $.getConstantEnum(["boolean-type", "sex-type", "job-duties-type", "job-rank-type", "oeducation-type"], initDataGrid);
        
    });

    function initDataGrid(enumMap) {
        var enumMap = {
            "cycle-state": [
                { key: "1", value: "启用" },
                { key: "2", value: "暂存" },
                { key: "3", value: "归档" },
                { key: "4", value: "停用" }
            ],
            "assess-type": [
                { key: "1", value: "年中测评" },
                { key: "2", value: "年度考评" }
            ]
        }

        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    {radio:true},
                    { title: "单位名称", field: "unitName", sortName:"unitId", sortable: true},
                    { title: "周期名称", field: "cycleName", sortable: true},
                    { title: "周期开始时间", field: "cycleStartTime", formatter: "date" },
                    { title: "周期截止时间", field: "cycleEndTime", formatter: "date" },
                    { title: "考评开始时间", field: "assessStartTime", formatter: "date" },
                    { title: "考评截止时间", field: "assessEndTime", formatter: "date" },
                    { title: "周期状态", field: "cycleState", formatter: $.getEnumColumnFormatter(enumMap, "cycle-state") , sortable: true},
                    { title: "考评类型", field: "assessType", formatter: $.getEnumColumnFormatter(enumMap, "assess-type"), sortable: true },
                    { title: "周期描述", field: "cycleDescribe" },
                    {
                        title: "启停用",
                        width: "60px",
                        align: 'center',
                        events: {
                            'click .start': function(e, value, row, index) {
                                if (row.cycleState == "2") {
                                    start(row);
                                } else if (row.cycleState == "4") {
                                    start(row);
                                }
                                else if (row.cycleState == "1") {
                                    stop(row);
                                }
                            }
                        },
                        formatter: function(index, row) {
                            if (row.cycleState == "2") {
                                return '<a class="start" href="javascript:void(0);"><i class="glyphicon glyphicon-cog"></i>提交</a>';
                            } else if (row.cycleState == "4") {
                                return '<a class="start" href="javascript:void(0);"><i class="glyphicon glyphicon-cog"></i>启用</a>';
                            } else if (row.cycleState == "1") {
                                return '<a class="start" href="javascript:void(0);"><i class="glyphicon glyphicon-cog"></i>停用</a>';
                            }

                            return "";
                        }
                    }
                    

                ]
            ],
            url: '/console/asscyc/list',
            searchbar: '#searchbar',
            sortName: 'unitId',
            sortOrder: 'asc',
            pagination: true,
            toolbar: "#toolbar",
            showRefresh: true,
            clickToSelect:true,
            showColumns:true
        });
    }

    function templateConfig(){
        var row = getSelectRow();
        if(row){
            if (row.cycleState != "2") {// "2"：暂存
             window.location = "/console/asscyc/template/config/view?id=" + row.id;
        }else {
             window.location = "/console/asscyc/template/config/index?id=" + row.id;
          }
        }else{
            $.errorMessage("请选中一条业务数据！");
        }
       
    }


    function archive() {
        var row = getSelectRow();
        
        if (row) {
            if (row.cycleState == "2") {
                $.infoMessage("无法归档暂存的周期");
                return;
            }else if (row.cycleState == "3") {
            	 $.infoMessage("该周期已经归档！");
                 return;
			}else{
                layer.confirm('确定归档吗?', function() {
                    $.getAjax('/console/asscyc/archive?id=' + row.id, function() {
                        $.successMessage("归档成功");
                        table.refresh();
                    });
                });
            }
        } else {
            $.errorMessage("请选中一条业务数据！");
        }
    }

    function start(row) {
       
             $.getAjax('/console/asscyc/is/start?id=' + row.id,function(res) {
                 if (res==0) {
                     $.errorMessage('该周期还未进行模板配置！');
                 }else {
                     layer.confirm('确定提交吗?', function() {
                         $.getAjax('/console/asscyc/start?id=' + row.id, function() {
                             $.successMessage("提交成功");
                             table.refresh();
                         });
                     });
                 }
             });
       
    }

     function stop(row) {
    	
    		layer.confirm('确定停用吗?', function() {
                $.getAjax('/console/asscyc/stop?id=' + row.id, function() {
                    $.successMessage("停用成功");
                    table.refresh();
                });
            });
		
    } 

    function add() {
        window.location = "/console/asscyc/add/input";
    }

    function edit() {
        var row = getSelectRow();
        if (row) {
            if (row.cycleState == "1" || row.cycleState == "4") {
                $.infoMessage("该周期已经提交，无法修改");
                return;
            }

            if (row.cycleState == "3") {
                $.infoMessage("该周期已经归档，无法修改");
                return;
            }
            
            window.location = "/console/asscyc/edit/input?id=" + row.id;
        } else {
            $.errorMessage("请选中一条业务数据！");
        }

    }

    function remove() {
        var row = getSelectRow();
        if (row) {
            if (row.cycleState == "1" || row.cycleState == "4") {
                $.infoMessage("该周期已经提交，无法删除");
                return;
            }

            if (row.cycleState == "3") {
                $.infoMessage("该周期已经归档，无法删除");
                return;
            }
            layer.confirm('确定删除吗?', function() {
                $.getAjax('/console/asscyc/delete?id=' + row.id, function() {
                    $.successMessage("删除成功");
                    table.refresh();
                });
            });
        } else {
            $.errorMessage("请选中一条业务数据！");
        }
    }

    function view() {
        var row = getSelectRow();
        
        if (row) {
            window.location = "/console/asscyc/view?id=" + row.id;
        } else {
            $.errorMessage("请选中一条业务数据！");
        }
    }

    function query() {
        table.refresh();
    }
    
    function getSelectRow() {
        var rows = table.getSelections();
        return rows.length>0?rows[0]:null;
    }
    
    $('body').bind('keypress',function (event){
        if(event.keyCode == '13'){
            query();
        }
    });
    
    </script>
</body>

</html>