<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.hf.mapper.statistics.AppraisalSummaryMapper">
  <resultMap id="BaseResultMap" type="com.paladin.hf.model.assess.cycle.PersonCycAssess">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="org_user_id" jdbcType="VARCHAR" property="orgUserId" />
    <result column="assess_cycle_id" jdbcType="VARCHAR" property="assessCycleId" />
    <result column="work_summary" jdbcType="VARCHAR" property="workSummary" />
    <result column="self_ass_opinion" jdbcType="VARCHAR" property="selfAssOpinion" />
    <result column="self_ass_grade" jdbcType="VARCHAR" property="selfAssGrade" />
    <result column="self_ass_time" jdbcType="DATE" property="selfAssTime" />
    <result column="depart_opinion" jdbcType="VARCHAR" property="departOpinion" />
    <result column="depart_grade" jdbcType="VARCHAR" property="departGrade" />
    <result column="depart_ass_time" jdbcType="DATE" property="departAssTime" />
    <result column="unit_group_opinion" jdbcType="VARCHAR" property="unitGroupOpinion" />
    <result column="unit_ass_grade" jdbcType="VARCHAR" property="unitAssGrade" />
    <result column="unit_ass_time" jdbcType="DATE" property="unitAssTime" />
    <result column="confirmed_result" jdbcType="VARCHAR" property="confirmedResult" />
    <result column="confirmed_time" jdbcType="DATE" property="confirmedTime" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="operate_state" jdbcType="VARCHAR" property="operateState" />
    <result column="assessed_sign" jdbcType="VARCHAR" property="assessedSign" />
    <result column="dep_assessor_sign" jdbcType="VARCHAR" property="depAssessorSign" />
    <result column="unit_assessor_sign" jdbcType="VARCHAR" property="unitAssessorSign" />
    <result column="assessed_confirm_sign" jdbcType="VARCHAR" property="assessedConfirmSign" />
    <result column="unit_id" jdbcType="VARCHAR" property="unitId" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId" />
  </resultMap>
  
  <resultMap type="com.paladin.hf.service.statistics.vo.AppraisalSummaryVO" id="ExtMap" extends="BaseResultMap">
  		<result column="kpdc" jdbcType="VARCHAR" property="kpdc"/>
  		<result column="count" jdbcType="VARCHAR" property="count"/>
  		<result column="unit_id" jdbcType="VARCHAR" property="unitId"/>
  		<result column="job_rank" jdbcType="VARCHAR" property="jobRank"/>
  </resultMap>       
  
  <select id="AppraisalSummaryAll" resultMap="ExtMap">
	 SELECT 
	  a.unit_ass_grade,
	  COUNT(*) AS kpdc,
	  a.unit_id ,
	  a.job_rank
	FROM
	  (SELECT 
	    ass.id,
	    ass.unit_id,
	    ass.assess_type,
	    ou.`job_rank`,
	    cy.unit_ass_grade,
	    ass.cycle_start_time,
	    ass.cycle_end_time 
	  FROM
	    `person_cyc_assess` AS cy 
	    LEFT JOIN `assess_cycle` AS ass 
	      ON cy.assess_cycle_id = ass.id 
	    LEFT JOIN `org_user`  AS ou
	      ON cy.`org_user_id`=ou.`id`
	  WHERE ou.is_delete = 0
	 
	 <if test="unitParam.unitId!=null">
		        and cy.unit_id=#{unitParam.unitId}
    </if>
    
    <if test="unitParam.assessTeamId!=null">
	        and cy.assess_team_id=#{unitParam.assessTeamId}
    </if>
	<if test="unitParam.unitIds!=null">
           and cy.unit_id in 
           <foreach collection="unitParam.unitIds" index="index" item="item" open="(" separator="," close=")">  
               #{item}  
           </foreach> 
       </if>
       
       <if test="unitParam.agencyId!=null">
	        and cy.agency_id=#{unitParam.agencyId}
    </if>
	<if test="unitParam.agencyIds!=null">
           and cy.agency_id in 
           <foreach collection="unitParam.agencyIds" index="index" item="item" open="(" separator="," close=")">  
               #{item}  
           </foreach> 
     </if>
	
	<if test="param.cycleId != null and param.cycleId !='' ">
	 and ass.id=#{param.cycleId}	
	</if>
	
 	<if test="param.jobRank != null and param.jobRank !='' ">
	 and ou.job_rank=#{param.jobRank}	
	</if> 
	
	 ) AS a  GROUP BY a.unit_ass_grade
	
  </select>
</mapper>