<!DOCTYPE HTML>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" 
>
<head th:include="console/header">
</head>
<body>


<section class="content-header">
		<div>
			<ul id="myTab" class="nav nav-tabs">
				<li class="active"><a href="#tab2" data-toggle="tab">机构管理人员</a></li>
				<li><a href="#tab1" data-toggle="tab">医德医风档案人员</a></li>		
			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade" id="tab1">
				<section class="content-header">
					<fieldset>
						<legend>查询条件</legend>
						<form id="searchbar" class="form-horizontal">
							<div class="form-group">

								<label style="width: 110px" class="col-sm-2 control-label"
									for="filingTime">角色</label>
								<div class="col-sm-2">
									<select class="form-control tonto-select-constant"
										name="assessRole" th:attr="selectedvalue=${query?.assessRole}"
										enumcode="userRole">
										<option value="">请选择角色</option>
									</select>
								</div>
								<div class="col-sm-2" style="text-align: left">
									<a onclick="query1()" class="btn btn-primary">查询</a>
									<button type="reset" class="btn js-ajax-submit">重置</button>
								</div>
							</div>
						</form>
					</fieldset>
					</section>
					<section class="content table-content">
					    <table id="dataGrid1"></table>
					</section>
				</div>
				<div class="tab-pane fade in active" id="tab2">
				<section class="content-header">
					<fieldset>
						<legend>查询条件</legend>
						<form id="searchbar2" class="form-horizontal">
							<div class="form-group">
								<label style="width: 110px" class="col-sm-2 control-label"
									for="filingTime">机构</label>
								<div class="col-sm-2">
									<input type="text" class="form-control tonto-select-agency"
							name="unitId" required="required" placeholder="请选择"></input>
								</div>
								<div class="col-sm-2" style="text-align: left">
									<a onclick="query2()" class="btn btn-primary">查询</a>
									<button type="reset" class="btn js-ajax-submit">重置</button>
								</div>
							</div>
						</form>
					</fieldset>
					</section>
					<section class="content table-content">
						<table id="dataGrid2"></table>
					</section>
				</div>
			</div>
		</div>
	</section>

<div  th:include="console/footer"></div>
<script type="text/javascript">


	$(function() {
		init();
	})

	function init() {
		initTab1();
		initTab2();
	}

	function initTab1() {
		table1 = $.createTable("#dataGrid1", {
			idField : "id",
			columns : [ [ {
				title : "单位名称",
				field : "unitRootName"
			}, {
				title : "科室",
				field : "unitName"
			}, {
				title : "姓名",
				field : "name"
			}, {
				title : "最后一次登陆时间",
				field : "lastLoginTime",
				width : "250px"
			} ] ],
			url : '/login/log/sysUserLog',
			searchbar : '#searchbar',
			sortName : 'last_login_time',
			sortOrder : 'asc',
			pagination : true,
			toolbar : "#toolbar",
			showRefresh : true,
			pageSize : 10,
			clickToSelect : true,
			showColumns : true
		});

	}
	
	function initTab2() {
		table2 = $.createTable("#dataGrid2", {
			idField : "id",
			columns : [ [  {
				title : "机构",
				field : "unitName"
			}, {
				title : "姓名",
				field : "name"
			}, {
				title : "最后一次登陆时间",
				field : "lastLoginTime",
				width : "250px"
			} ] ],
			url : '/login/log/adminUserLog',
			searchbar : '#searchbar2',
			sortName : 'last_login_time',
			sortOrder : 'asc',
			pagination : true,
			showRefresh : true,
			pageSize : 10,
			clickToSelect : true,
			showColumns : true
		});

	}

	function query1() {
		table1.refresh();
	}
	function query2() {
		table2.refresh();
	}
</script>
</body>
</html>