<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.hf.mapper.inforelease.InforeleaseMapper">

      <select id="selectInforelease" resultType="com.paladin.hf.service.inforelease.vo.InforeleaseVO">
        SELECT
		`id` AS id,
		`title` AS title,
		`content` AS content,
		`is_release` AS isRelease,
		`importance` AS importance,
		`release_time` AS releaseTime,
		`accessory` AS accessory,
		`types` AS types
		FROM inforelease WHERE 1=1  AND `types`=#{query.type}
     
		AND (org_unit_id ='' OR org_unit_id IS NULL   
	   <if test="uid != null and uid != ''">
	        OR org_unit_id = #{uid}
	    </if>
	    <if test="aid != null and aid != ''">
	        OR org_agency_id = #{aid}
	    </if>
	    <if test="tid != null and tid != ''">
	        OR org_assess_team_id = #{tid}
	    </if>
	    )
		       
        <if test="query.isRelease !=null and query.isRelease !='' ">
            and is_release=#{query.isRelease}
        </if>
        
        <if test="query.importance !=null and query.importance !='' ">
            and importance=#{query.importance}
        </if>
        
        <if test="query.title !=null and query.title !='' ">
            and title like concat('%',#{query.title},'%')
        </if>
        
        <if test="query.releaseTime !=null and query.releaseTime !='' ">
            and release_time <![CDATA[>=]]> #{query.releaseTime}
        </if>
        
        <if test="query.endreleaseTime !=null and query.endreleaseTime !='' ">
            and release_time <![CDATA[<=]]> #{query.endreleaseTime}
        </if>
        order by release_time desc 
    </select>
    
    <select id="selectInforeleaseAll" resultType="com.paladin.hf.service.inforelease.vo.InforeleaseVO">
        SELECT
		`id` AS id,
		`title` AS title,
		`content` AS content,
		`is_release` AS isRelease,
		`importance` AS importance,
		`release_time` AS releaseTime,
		`accessory` AS accessory,
		`types` AS types
		FROM inforelease WHERE 1=1 AND `types`=#{query.type}

        <if test="query.isRelease !=null and query.isRelease !='' ">
            and is_release=#{query.isRelease}
        </if>
        
        <if test="query.importance !=null and query.importance !='' ">
            and importance=#{query.importance}
        </if>
        
        <if test="query.title !=null and query.title !='' ">
            and title like concat('%',#{query.title},'%')
        </if>
        
        <if test="query.releaseTime !=null and query.releaseTime !='' ">
            and release_time <![CDATA[>=]]> #{query.releaseTime}
        </if>
        
        <if test="query.endreleaseTime !=null and query.endreleaseTime !='' ">
            and release_time <![CDATA[<=]]> #{query.endreleaseTime}
        </if>
        order by release_time desc 
    </select>

	<select id="noticyandpolicyfile" resultType="com.paladin.hf.service.inforelease.vo.InforeleaseVO">
		(SELECT `id`,`title`,`release_time` as releaseTime,types FROM inforelease 
		WHERE 1 = 1 AND is_release = '0' AND TYPES = '1'
		 AND (org_unit_id ='' OR org_unit_id IS NULL  
	   <if test="uid != null and uid != ''">
	        OR org_unit_id = #{uid}
	    </if>
	    <if test="aid != null and aid != ''">
	        OR org_agency_id = #{aid}
	    </if>
	    <if test="tid != null and tid != ''">
	        OR org_assess_team_id = #{tid}
	    </if>
	    )
		ORDER BY release_time DESC LIMIT 0,5) 
		UNION 
		(SELECT `id`,`title`,`release_time` as releaseTime,types FROM inforelease
		WHERE 1 = 1 AND is_release = '0' AND TYPES = '0'
		 AND ( org_unit_id ='' OR org_unit_id IS NULL 
	      <if test="uid != null and uid != ''">
	          OR org_unit_id = #{uid}
	      </if>
	      <if test="aid != null and aid != ''">
	          OR org_agency_id = #{aid}
	      </if>
	      <if test="tid != null and tid != ''">
	          OR org_assess_team_id = #{tid}
	      </if>
	      )
		 ORDER BY release_time DESC LIMIT 0,5)
	</select>
	
	<select id="noticyandpolicyfileAll" resultType="com.paladin.hf.service.inforelease.vo.InforeleaseVO">
		(SELECT `id`,`title`,`release_time` as releaseTime,types FROM inforelease 
		WHERE 1 = 1 AND is_release = '0' AND TYPES = '1'
		ORDER BY release_time DESC LIMIT 0,5) 
		UNION 
		(SELECT `id`,`title`,`release_time` as releaseTime,types FROM inforelease
		WHERE 1 = 1 AND is_release = '0' AND TYPES = '0'
		 ORDER BY release_time DESC LIMIT 0,5)
	</select>
	
	<select id="inforeleaseMore" resultType="com.paladin.hf.service.inforelease.vo.InforeleaseVO">
		SELECT
			`id` AS id,
			`title` AS title,
			`content` AS content,
			`is_release` AS isRelease,
			`importance` AS importance,
			`release_time` AS releaseTime,
			`accessory` AS accessory,
			`types` AS types
			FROM inforelease WHERE 1=1 AND is_release = '0' AND `types`=#{query.type} 
			AND ( org_unit_id ='' OR org_unit_id IS NULL
	      <if test="uid != null and uid != ''">
	          OR org_unit_id = #{uid}
	      </if>
	      <if test="aid != null and aid != ''">
	          OR org_agency_id = #{aid}
	      </if>
	      <if test="tid != null and tid != ''">
	          OR org_assess_team_id = #{tid}
	      </if>
	      )
			ORDER BY release_time DESC
	</select>

	<select id="inforeleaseMoreAll" resultType="com.paladin.hf.service.inforelease.vo.InforeleaseVO">
			SELECT
				`id` AS id,
				`title` AS title,
				`content` AS content,
				`is_release` AS isRelease,
				`importance` AS importance,
				`release_time` AS releaseTime,
				`accessory` AS accessory,
				`types` AS types
				FROM inforelease WHERE 1=1 AND is_release = '0' AND `types`=#{query.type} 
				ORDER BY release_time DESC
		</select>
</mapper>