<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="/hf/header">
</head>

<body>
    <tt:constant enumcode="event_type" />
    <div class="container">
        <section class="content-header">
            <h1>奖惩事件新增</h1>
            <ol class="breadcrumb">
                <li><a th:href="@{/prizepunish/agency/index}"><i class="fa fa-list-alt"></i>人员列表</a></li>
                <li><a href="javascript:toUser()"><i class="fa fa-user"></i><font th:text="${userName}"></font></a></li>
                <li class="active">新增奖惩</li>
            </ol>
        </section>
        <section class="content">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <i class="fa fa-edit"></i>
                    <h3 class="box-title">新增</h3>
                </div>
                <div id="model_edit" class="box-body">
                    <form id="model_form" class="form-horizontal edit-body" action="/prizepunish/agency/save" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="userId" id="orgUserId" th:value="${orgUserId}" />
                        <input type="hidden" name="userName" id="userName" th:value="${userName}" />
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><i class="required-label fa fa-asterisk"></i>事件类型</label>
                            <div class="col-sm-3">
                                <select id="dictCode" name="dictCode" required="required" class="form-control tonto-select-constant" enumcode="event_type">
                                    <option value="">请选择</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label"><i class="required-label fa fa-asterisk"></i>发生时间</label>
                            <div class="col-sm-3">
                                <input type="text" name="happenTime" autocomplete="off" required="required" class="form-control tonto-datepicker-date" placeholder="请选择日期" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="content" class="col-sm-3 control-label">内容</label>
                            <div class="col-sm-8">
                                <textarea name="content" class="form-control" rows="8" style="resize: none;"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="place" class="col-sm-3 control-label">地点</label>
                            <div class="col-sm-8">
                                <input type="text" name="place" class="form-control" id="place" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="check" class="col-sm-3 control-label">考核情况</label>
                            <div class="col-sm-8">
                                <input type="text" name="checks" class="form-control" id="checks" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="checkPeople" class="col-sm-3 control-label">核定部门(人)</label>
                            <div class="col-sm-8">
                                <input type="text" name="checkPeople" class="form-control" id="checkPeople" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="" class="col-sm-3 control-label">附件上传</label>
                            <div class="col-sm-8">
                                <input type="file" name="attachmentFiles" multiple>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-2 col-sm-offset-3">
                                <input type="submit" style="display: none" id="submitBtn">
                                <button type="button" onclick="submitPrze()" class="btn btn-primary btn-block">提交</button>
                            </div>
                            <div class="col-sm-2 col-sm-offset-1">
                                <button type="button" onclick="temporaryPrze()" class="btn btn-success btn-block">暂存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-sm-2 col-sm-offset-5 btn-back">
                <a href="javascript:toUser()" class="btn btn-primary btn-block">返回</a>
            </div>
        </section>
    </div>
    <div th:include="/hf/footer"></div>
</body>
<script type="text/javascript">
function toUser() {
    window.location = "/prizepunish/agency/detail/index?orgUserId=" + $("#orgUserId").val() + "&userName=" + $("#userName").val();
}
var options = {
    id: "model",
    name: "新增",
    url: "/prizepunish/agency/save",
    columns: [
        { name: "dictCode", inputType: "SELECT", enum: "event_type", title: "事件类型" },
        { name: "happenTime", inputType: "DATE", title: "发生时间" },
        { name: "content", inputType: "TEXT", title: "内容" },
        { name: "place", inputType: "TEXT", title: "地点" },
        { name: "checks", inputType: "TEXT", title: "考核情况" },
        { name: "attachments", inputType: "ATTACHMENT", fileName: "attachmentFiles", title: "附件" },
        { name: "checkPeople", inputType: "TEXT", title: "核定部门(人)" }
    ]
};

$(function() {
    var model = new tonto.Model("model", options.columns, {
        pattern: "edit",
        successCallback: function() {
            $.successAlert("保存成功", function() {
                var orgUserId = $("#orgUserId").val();
                toUser();
            });
        }
    });
    model.setData(null);
});

function submitPrze() {
    $('#model_form').attr('action', '/prizepunish/agency/save/submit');
    $.warnAlert('<span style="color:red;">提交后该记录会抄送到下一级，无法修改，确定提交吗？</span>', function() {
        $('#submitBtn').click();
    })
}

function temporaryPrze() {
    $('#model_form').attr('action', '/prizepunish/agency/save/temporary');
    $('#submitBtn').click();
}
</script>

</html>