<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>

<body>
<div class="container">
	<section class="content">
		     <input type="hidden" id="assessCycleId" th:value="${personCycAssess.assessCycleId}" name="assessCycleId" />
			 <input type="hidden" id="templateId" th:value="${templateId}" />
			 <input type="hidden" id="orgUserId" th:value="${personCycAssess.orgUserId}" name="orgUserId" />
		
				<div class="box box-primary">
					<div class="box-header with-border">
					<div class="pull-right">
                        <a href="/cycle/org/index?cached=1" class="btn btn-warning"><i class="glyphicon glyphicon-share-alt"></i>返回</a>
                    </div>
						<h1 class="box-title">人员周期考评-机构</h1>
					</div>

					<div class="box-body">
						<div class="row" style="padding:15px;padding-top:0px">
							<form class="form-horizontal" th:object="${user}">
							     <fieldset>
							     <legend>个人基本信息</legend>
								<div class="form-group">
									<label class="col-sm-2 control-label">姓名</label>
									<div class="col-sm-3">
										<p class="form-control-static" th:text="*{name}" />
									</div>
									<label class="col-sm-2 control-label">性别</label>
									<div class="col-sm-3">
										<p class="form-control-static" id="sex" th:attr="enum-code-value=${user.sex}" />
									</div>
								</div>

								<div>
									<label class="col-sm-2 control-label">出生日期</label>
									<div class="col-sm-3">
										<p class="form-control-static" th:text="*{birthday}" />
									</div>
									<label class="col-sm-2 control-label">职务</label>
									<div class="col-sm-3">
										<p class="form-control-static" id="jobDuties" th:attr="enum-code-value=${user.jobDuties}" />
									</div>
								</div>
							 </fieldset>
							</form>
						</div>
						
							<ul id="myTab" class="nav nav-tabs">
								<li class="active"><a href="#tab1" data-toggle="tab">考评情况</a></li>
								<li><a href="#tab2" data-toggle="tab">量化考评查看</a></li>
								<li><a href="#tab3" data-toggle="tab">奖惩事件查看</a></li>
							</ul>

							<div id="myTabContent" class="tab-content"
								style="min-height: 600px">
								<div class="tab-pane fade in active" id="tab1"></div>
								<div class="tab-pane fade" id="tab2">
									 <div class="row">
                                <div class="col-md-12">
                                    <div class="box-body">
                                        <div>
                                            <table id="dataGrid1" class="table table-bordered"></table>
                                        </div>
                                        <div style="margin-top:10px">
                                            <div class="col-sm-2" style="width:150px">
                                                <div class="input-group">
                                                    <span class="input-group-addon">基础得分</span>
                                                    <input id="baseScore" class="form-control" style="width:60px" readonly="readonly" />
                                                </div>
                                            </div>
                                            <div class="col-sm-2" style="width:120px">
                                                <div class="input-group">
                                                    <span class="input-group-addon">加分</span>
                                                    <input id="addScore" class="form-control" style="width:60px" readonly="readonly" />
                                                </div>
                                            </div>
                                            <div class="col-sm-2" style="width:120px">
                                                <div class="input-group">
                                                    <span class="input-group-addon">扣分</span>
                                                    <input id="reduceScore" class="form-control" style="width:60px" readonly="readonly" />
                                                </div>
                                            </div>
                                            <div class="col-sm-2" style="width:130px">
                                                <div class="input-group">
                                                    <span class="input-group-addon">总得分</span>
                                                    <input id="lastScore" class="form-control" style="width:60px" readonly="readonly" />
                                                </div>
                                            </div>
                                            <div class="col-sm-2" style="width:150px">
                                                <div class="input-group">
                                                    <span class="input-group-addon">一票否决</span>
                                                    <input id="veto" class="form-control" style="width:60px" readonly="readonly" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
								</div>
								<div class="tab-pane fade" id="tab3"></div>
							</div>
					</div>
				</div>
	</section>
	</div>
	<div th:include="console/footer"></div>
	<script>
		/*<![CDATA[*/
		$(function() {
			var id = $.getUrlVariable("id");
			var orgUserId = $("#orgUserId").val();
			$("#tab3").load("/cycle/org/reward/index?orgUserId=" + orgUserId);			
			$("#tab1").load("/cycle/org/assess/situation?id=" + id, function() {
				
				$("#tab1").find("form").each(function() {
	                $t = $(this);
	                $t.find("textarea, input").attr({ readonly: true });
	                $t.find(":submit").hide();
	                $t.find("input[type='text']").attr('placeholder', null);
	                $t.find("textarea").attr('placeholder', null);
	                $t.find("button[type='button'],input[type='button'],select").attr('disabled', true);
	                $t.find("a").hide();
	                $t.find("input[type='radio']").attr('disabled', true);
	            });
				
                //_initFromContent($("#tab1"));
                _initEnumConstant($("#tab1"));
            });
			
			
			//获取量化分数
            $.getAjax("/console/assess/quantitative/result/detail?cycleId=" + $('[name="assessCycleId"]').val() + "&userId=" + $('[name="orgUserId"]').val(), function(data) {
                initAssessDetail(data);
            });
			

			$.getConstantEnum([
		                         { code: "sex-type", type: 'p', target: '#sex' },
		                         { code: "job-duties-type", type: 'p', target: '#jobDuties' }
		                     ]);
		});


		var addExtra = "";
		var lessExtra = "";
		var voteExtra = "";

		function createExtras(extras) {

			addExtra = "<ol>";
			lessExtra = "<ol>";
			voteExtra = "<ol>";

			if (extras) {
				for (var y = 0; y < extras.length; y++) {
					var extraItem = extras[y];
					if (extraItem.extraType == '1') {
						addExtra += "<li><p>" + extraItem.extraDescription
								+ "</p>";
						addExtra += "<p>【加分下限：" + extraItem.alterLower
								+ "，加分上限：" + extraItem.alterUpper + "，累计上限："
								+ (extraItem.accumulateUpper || "不计上限")
								+ "】<p></li>";
					}
					if (extraItem.extraType == '2') {
						lessExtra += "<li><p>" + extraItem.extraDescription
								+ "</p>";
						lessExtra += "<p>【扣分下限：" + extraItem.alterLower
								+ "，扣分上限：" + extraItem.alterUpper + "，累计上限："
								+ (extraItem.accumulateUpper || "不计上限")
								+ "】<p></li>";
					}
					if (extraItem.extraType == '3') {
						voteExtra += "<li>" + extraItem.extraDescription
								+ "</li>";
					}
				}
			}
			addExtra += "</ol>";
			lessExtra += "</ol>";
			voteExtra += "</ol>";
		}

		// ----------------------------------------
		// 画表格
		// ----------------------------------------

		function createTable(treedata) {

			var trs = [];
			for (var i = 0; i < treedata.length; i++) {
				getRow(treedata[i], null, trs);
			}

			var html = "<tbody>";
			var maxDepth = 1;
			var maxDepthIndex = 0;
			var j = 0
			for (; j < trs.length; j++) {
				if (trs[j].length > maxDepth) {
					maxDepth = trs[j].length;
					maxDepthIndex = j;
				}
			}
			for (j = 0; j < trs.length; j++) {
				var tr = trs[j];
				html += "<tr>";
				var x = 0
				for (; x < tr.length; x++) {
					var td = tr[x];
					var data = td.data;
					var rowspan = td.rowspan;
					html += "<td valign='middle' style='vertical-align:middle' rowspan='" + rowspan + "'>"
							+ data.itemName + "</td>";
					html += "<td valign='middle' style='vertical-align:middle' rowspan='" + rowspan + "'>"
							+ (data.itemDescription || "") + "</td>";
					html += "<td valign='middle' style='vertical-align:middle;text-align:center;width:50px' align='center' rowspan='" + rowspan + "'>"
							+ data.basicScore + "</td>";
				}
				var depth = (tr.length > 0 ? tr[tr.length - 1].depth : 0);
				var d = maxDepth - depth - 1;
				if (d > 0) {
					html += "<td colspan='" + (d * 3) + "'> </td>";
				}
				if (j == 0) {
					html += "<td rowspan='" + trs.length + "'>" + addExtra
							+ "</td>";
					html += "<td rowspan='" + trs.length + "'>" + lessExtra
							+ "</td>";
					html += "<td rowspan='" + trs.length + "'>" + voteExtra
							+ "</td>";
				}
			}
			html += "</tbody>";
			var thead = "<thead><tr>"
					+ "<th align='center' style='text-align:center' colspan='"
					+ (maxDepth * 3)
					+ "'>考评项目</th>"
					+ "<th align='center' style='text-align:center' rowspan='2'>加分</th>"
					+ "<th align='center' style='text-align:center' rowspan='2'>扣分</th>"
					+ "<th align='center' style='text-align:center' rowspan='2'>一票否决</th></tr>";

			thead += "<tr>";

			for (j = 0; j < maxDepth; j++) {
				thead += "<th align='center' style='text-align:center'>名称</th>";
				thead += "<th align='center' style='text-align:center'>描述</th>";
				thead += "<th align='center' style='text-align:center'>分数</th>";
			}

			thead += "</tr></thead>";
			$("#dataGrid1").html(thead + html);
		}

		function getRowspan(node) {
			if (node.nodes) {
				var s = 0;
				for (var i = 0; i < node.nodes.length; i++) {
					var subnode = node.nodes[i];
					s += getRowspan(subnode);
				}
				return s;
			}
			return 1;
		}

		function getRow(node, tr, trs) {
			if (!tr) {
				tr = [];
				trs.push(tr);
			}
			var rowspan = getRowspan(node);
			tr.push({
				data : node.data,
				rowspan : rowspan,
				depth : node.depth
			});
			var nodes = node.nodes;
			if (nodes && nodes.length > 0) {
				var first = nodes[0];
				getRow(first, tr, trs);
				for (var i = 1; i < nodes.length; i++) {
					getRow(nodes[i], null, trs);
				}
			}
		}
		
		
        // ----------------------------------------
        // 初始化量化考评结果
        // ----------------------------------------
        function initAssessDetail(data) {
            var g = function(nodeItems, data, depth) {

                var nodes = [];

                if ($.isArray(nodeItems)) {
                    nodeItems.forEach(function(item) {
                        var node = {
                            text: item.itemName,
                            data: item,
                            depth: depth
                        };

                        var children = $.grep(data, function(row, index) {
                            return item.id == row.parentItemId;
                        });

                        if (children && children.length > 0) {
                            node.nodes = g(children, data, depth + 1);
                        }

                        nodes.push(node);
                    })
                }
                return nodes;
            }

            // 初始化树数据

            if (data.extras) {
                createExtras(data.extras);
            }

            if (data.items) {
                var items = data.items;
                var roots = $.grep(items, function(row, index) {
                    return row.parentItemId == null;
                });
                var treedata = g(roots, items, 0);
                createTable(treedata);
            }

            var baseScore;
            var addScore;
            var reduceScore;
            var isVeto;

            if (data.result) {
                var r = data.result;
                baseScore = r.baseScore || 0;
                addScore = r.addScore || 0;
                reduceScore = r.reduceScore || 0;
                isVeto = r.isVeto || 0;
            } else {
                baseScore = data.baseScore || 0;
                addScore = data.addScore || 0;
                reduceScore = data.reduceScore || 0;
                isVeto = data.isVeto || 0;
            }

            var lastScore = baseScore + addScore - reduceScore;

            $("#baseScore").val(baseScore);
            $("#addScore").val(addScore);
            $("#reduceScore").val(reduceScore);
            $("#veto").val(isVeto == 1 ? "有" : "无");
            $("#lastScore").val(lastScore);
        }
		
		/*]]>*/
	</script>
</body>
</html>