<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>行风监管系统</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="stylesheet" href="/static/assets/bootstrap-3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/assets/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/assets/ionicons-2.0.1/css/ionicons.min.css" />
    <link rel="stylesheet" href="/static/assets/adminlte-2.3.7/css/AdminLTE.min.css" />
    <link rel="stylesheet" href="/static/assets/adminlte-2.3.7/css/skins/skin-blue.min.css" />
    <link rel="stylesheet" href="/static/css/app.css" />
    <link rel="stylesheet" href="/static/assets/layer-3.0.1/theme/default/layer.css" />
    <link rel="stylesheet" href="/static/css/iconfontt.css" />
    <style type="text/css">
    body {
        font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
    }
    </style>
    <!--[if lt IE 9]>
    <script src=/static/js/html5shiv.min.js"></script>
    <script src="/static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="skin-blue fixed sidebar-mini">
    <div class="wapper">
        <!-- style="background: url('/static/image/top.png') no-repeat center;" -->
        <header class="main-header">
            <a href="javascript:void(0)" class="logo" style="background: none">
				<span class="logo-mini"><b>行风</b></span> <span class="logo-lg"><b>行风监管</b></span>
			</a>
            <nav style="background: url('/static/image/top.png'); background-size: cover; height: 50px">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <a href="javascript:see()" style="line-height: 50px; color: #fff">
							<i class="icon iconfont icon-icon-"></i> <span class="hidden-xs">修改密码</span>
						</a>
                        <a href="/logout"
							style="line-height: 50px; color: #fff; margin-left: 30px; margin-right: 20px">
							<i class="icon iconfont icon-guanbi"
							style="font-size: 20px; padding-top: 5px;"></i> <span
							class="hidden-xs">退出</span>
						</a>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image" th:switch="${role}" style="background-color: white; border-radius: 23px;">
                        <img th:case="1" src="/static/image/role_admin.png"
							style="background: #fff" class="img-circle" alt="User Image" />
                        <img th:case="2" src="/static/image/role_agency_assess.png"
							style="background: #fff" class="img-circle" alt="User Image" />
                        <img th:case="3" src="/static/image/role_department_assess.png"
							style="background: #fff" class="img-circle" alt="User Image" />
                        <img th:case="4" src="/static/image/role_be_assessed.png"
							style="background: #fff" class="img-circle" alt="User Image" />
					</div>
                        <div></div>
                        <div class="pull-left info">
                            <p th:text="${user.name}"></p>
                            <small th:text="${user.agency}"></small>
                        </div>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="header">菜单</li>
                        <li class="treeview" th:each="menuList,iterStat:${menus}"><a
						href="#"> <i
							th:class="'icon iconfont icon-'+${menuList.menuIcon}"></i> <b
							th:text="${menuList.menuName}"></b> <span
							class="pull-right-container"> <i
								class="fa fa-angle-left pull-right"></i>
						</span>
					</a>
                            <ul class="treeview-menu">
                                <li th:each="menuChild:${menuList.children}"><a
								th:if="${menuChild.isMenu == true}"
								th:href="${menuChild.menuUrl}" target="mainFrame"> <i
									class="fa fa-circle-o"></i> <span
									th:text="${menuChild.menuName}"></span>
							</a></li>
                            </ul>
                        </li>
                    </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <div id="updatePsd" style="display: none">
                <input type="hidden" name="id" class="form-control" id="id" th:value="${user.id}" />
                <div class="form-group" style="height: 32px; display: block; margin-top: 10px;">
                    <label for="username" class="col-sm-2 control-label" style="height: 34px; display: inline-block; line-height: 34px;">用户名</label>
                    <div class="col-sm-10">
                        <input type="text" name="username" class="form-control" id="username" th:readonly="${!#strings.equals(user.id,null)}" th:value="${user.name}" />
                    </div>
                </div>
                <div class="form-group" style="height: 32px; display: block;">
                    <label for="oldPassword" class="col-sm-2 control-label" style="height: 34px; display: inline-block; line-height: 34px;">原始密码</label>
                    <div class="col-sm-10">
                        <input type="text" name="oldPassword" class="form-control" id="oldPassword" />
                    </div>
                </div>
                <div class="form-group" style="height: 32px; display: block;">
                    <label for="newPassword" class="col-sm-2 control-label" style="height: 34px; display: inline-block; line-height: 34px;">新密码</label>
                    <div class="col-sm-10">
                        <input type="text" name="newPassword" class="form-control" id="newPassword" placeholder="请输入6-20位由数字，字母或下划线组成的密码" />
                    </div>
                </div>
                <div class="form-group" style="height: 32px; display: block;">
                    <label for="confirmNewPassword" class="col-sm-2 control-label" style="height: 34px; display: inline-block; line-height: 34px;">确认新密码</label>
                    <div class="col-sm-10">
                        <input type="text" name="confirmNewPassword" class="form-control" id="iConfirmNewPassword" placeholder="请输入6-20位由数字，字母或下划线组成的密码" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <span type="button" class="btn btn-default" id="submitted">提交</span>
                    </div>
                </div>
            </div>
            <iframe name="mainFrame" id="mainFrame" src="/console/main/right" frameborder="false" scrolling="auto" style="border: none;" width="100%" height="auto" allowtransparency="true"></iframe>
            <input type="hidden" id="isFirstLogin" th:value="${isFirst}" />
        </div>
        <footer class="main-footer navbar-fixed-bottom">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyright &copy; 2017 <a
				href="http://www.netintech.cn">网进科技</a>.
			</strong> All rights reserved.
        </footer>
    </div>
    <script type="text/javascript" src="/static/assets/adminlte-2.3.7/plugins/jQuery/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="/static/assets/adminlte-2.3.7/plugins/jQuery/jquery-migrate-1.4.1.min.js"></script>
    <script type="text/javascript" src="/static/assets/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/assets/adminlte-2.3.7/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="/static/assets/adminlte-2.3.7/js/app.min.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
    <script type="text/javascript" src="/static/assets/layer-3.0.1/layer.min.js"></script>
    <script type="text/javascript" src="/static/assets/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript">
    /*<![CDATA[*/
    //定义一个全局api，这样操作起来比较灵活 
    var api, boundx, boundy, $preview = $('#preview-pane'),
        $pcnt = $('#preview-pane .preview-container'),
        $pimg = $('#preview-pane .preview-container img'),

        xsize = $pcnt.width(),
        ysize = $pcnt.height();
    console.log('init', [xsize, ysize]);

    function readURL(obj) {
        if (api) {
            api.destroy();
        }
        if (obj.files[0]) {
            var reader = new FileReader();
            reader.readAsDataURL(obj.files[0]);
            reader.onload = function(e) {
                var data = e.target.result;
                $('#cutImg').removeAttr('src');
                $pimg.removeAttr('src');
                $('#cutImg').attr('src', data);
                $pimg.attr('src', data);
                $pimg.css('display', "block");
                $('#cutImg').Jcrop({
                    onChange: updatePreview,
                    onSelect: updatePreview,
                    aspectRatio: xsize / ysize
                }, function() {
                    // Use the API to get the real image size

                    var bounds = this.getBounds();
                    boundx = bounds[0];
                    boundy = bounds[1];
                    // Store the API in the jcrop_api variable

                    api = this;

                    // 在原图上显示预览图片
                    $preview.appendTo(api.ui.holder);
                });
            };

        }

        function updatePreview(c) {
            if (parseInt(c.w) > 0) {
                var rx = xsize / c.w;
                var ry = xsize / c.h;
                $pimg.css({

                    width: Math.round(rx * boundx) + 'px',
                    height: Math.round(ry * boundy) + 'px',
                    marginLeft: '-' + Math.round(rx * c.x) + 'px',
                    marginTop: '-' + Math.round(ry * c.y) + 'px'

                });
                $("#w").val(c.w);
                $("#h").val(c.h);
                $("#x").val(c.x);
                $("#y").val(c.y);
            }
        };

    }
    </script>
    <script>
    //修改密码弹框
    function see(fun) {
        layer.open({
            type: 1,
            title: '修改密码',
            shadeClose: false,
            shade: false,
            area: ['700px', '300px'],
            content: $("#updatePsd")
        });
    };

    $(function() {
        $('#myModal').modal('hide');
        //首次登录强制修改默认密码
        var isFirstLogin = $("#isFirstLogin").val();
        if (isFirstLogin == 1) {
            layer.open({
                type: 1,
                title: '为了您的账号安全，请先修改密码',
                shadeClose: false,
                //shade: false,
                area: ['700px', '253px'],
                content: $("#updatePsd"),
                closeBtn: 0
            });
        }

        //密码修改后提交
        $("#submitted").click(
            function() {
                var oldPassword = $.trim(window.parent.document
                    .getElementById('oldPassword').value);
                var newPassword = $.trim(window.parent.document
                    .getElementById('newPassword').value);
                var confirmNewPassword = $.trim(window.parent.document
                    .getElementById('iConfirmNewPassword').value);

                if (oldPassword == '' || oldPassword == 'null') {
                    layer.msg('原始密码不能为空!');
                } else if (newPassword == '' || newPassword == 'null') {
                    layer.msg('新密码不能为空!');
                } else if (newPassword == oldPassword) {
                    layer.msg('新密码不能和原始密码一样!');
                } else if (newPassword.length < 6 || newPassword.length > 20) {
                    layer.msg('新密码长度应该在6-20');
                } else if (confirmNewPassword == '' || confirmNewPassword == 'null') {
                    layer.msg('确认新密码不能为空！');
                } else if (confirmNewPassword.length < 6 || confirmNewPassword.length > 20) {
                    layer.msg('确认新密码长度应该在6-20');
                } else if (confirmNewPassword != newPassword) {
                    layer.msg('两次新密码输入不一致！');
                } else {
                    $.postAjax("/update/password", {
                        'oldPassword': oldPassword,
                        'newPassword': newPassword
                    }, function() {

                        layer.alert("修改成功", function() {
                            window.location = "/logout";
                        })

                    });
                }
            })
    });
    /*]]>*/
    </script>
</body>

</html>