<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<script type="text/javascript" src="/static/js/peacepeople.js"></script>
<body style="background: url(/static/image/345.jpg) no-repeat;">
	<div
		style="border: 1px #ddd solid; box-shadow: 10px 10px 5px #8888887a; border-radius: 10px; background-color: white; margin: 40px 40px 0px 40px; padding-bottom: 58px;">
		<section class="content-header">
			<span class="label label-success"
				style="width: 100px; height: 31px; line-height: 22px; border-radius: 26px; font-size: 16px; float: left; margin-left: 15px; display: block;">
				<strong id="policfile"></strong>

			</span> <a onclick="javascript :history.back(-1);"
				style="float: right; margin-bottom: 11px; margin-right: 15px;"
				class="btn btn-warning"><i class="glyphicon glyphicon-share-alt"></i>返回</a>
			<form id="searchbar" class="form-horizontal">
				<input type="hidden" name="id" class="form-control" id="id"
					th:value="${id}" />
			</form>
			<section class="content table-content">
				<table id="dataGrid"></table>
			</section>
		</section>
	</div>
	<div th:include="console/footer"></div>
	<script type="text/javascript">
		var table;var lx;
		$(function () {
			lx=GetQueryString("lx");
			if(lx=='zc'){
				$("#policfile").text("政策文件");
			}else if(lx='tz'){
				$("#policfile").text("通知公告");
			}
			
		    $.getConstantEnum(["is_release", "importance"], initDataGrid);
		});
		
		function initDataGrid(enumMap) {

	        table = $.createTable("#dataGrid", {
	            idField: "id",
	            columns: [
	                [
	                    {title: "标题", field: "title",width: "500px" },
		            	{title: "发布日期", field: "releaseTime",width: "200px"},
	                    {
	                        title: "查看",
	                        width: "60px",
	                        align: 'center',
	                        events: {
	                            'click .view': function(e, value, row, index) {
	                                viewUser(row.id);
	                            }
	                        },
	                        formatter: $.viewColumnFormatter()
	                    }
	                ]
	            ],
	          //  url: '/console/infore/list2',
	          url: '/console/infore/list/more',
	            searchbar: '#searchbar',
	            sortName: 'releaseTime',
	            sortOrder: 'asc',
	            pageSize:10,
	            pagination: true,
	        });
	    }
		
function viewUser(id){
	window.location =  '/console/detail/noticyleft?id='+id;
}
</script>

</body>
</html>