<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body style="background: url(../static/image/123.jpg) no-repeat;">
	<div class="container">
		<section class="content">
			<div class="panel panel-default" style="margin-top: 30px;">
				<div class="panel-heading" style="background-color: #3aabec;">
					<div class="pull-right">
						<a id="noticys" style="color: white; font-size: 16px;"
							href="javascript:void(0)">更多>></a>
					</div>
					<h3 style="color: white; font-size: 20px" class="panel-title">
						<i class="glyphicon glyphicon-volume-up panel-title"
							style="font-size: 18px"></i> 通知公告
					</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="col-sm-9">
							<table class='table table-hover'
								style="table-layout: fixed; font-size: 16px; font-family: 微软亚黑">
								<thead id="noticy">
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
						<div class="col-sm-3" align="center">
							<img alt="" width="220px" height="220px"
								src="/static/image/医院.png" />
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default" style="margin-top: 45px;">
				<div class="panel-heading" style="background-color: #3aabec;">
					<div class="pull-right">
						<a id="policfiles" style="color: white; font-size: 16px;"
							href="javascript:void(0)">更多>></a>
					</div>
					<h3 style="color: white; font-size: 20px" class="panel-title">
						<i class="glyphicon glyphicon-folder-open panel-title"
							style="font-size: 14px"></i> 政策文件
					</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="col-sm-9">
							<table class='table table-hover'
								style="table-layout: fixed; font-size: 16px; font-family: 微软亚黑">
								<thead id="policfile">
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
						<div class="col-sm-3" align="center">
							<img alt="" width="220px" height="220px"
								src="/static/image/柜子.png" />
						</div>
					</div>
				</div>
			</div>

		</section>
	</div>
	<div th:replace="console/footer"></div>
</body>
<script type="text/javascript">
$(function(){
	noticy();
	
	//<![CDATA[
	 $("#noticys").click(function(){
		window.location =  '/console/info?id=0&lx=tz';
	});
	
	$("#policfiles").click(function(){
		window.location =  '/console/info?id=1&lx=zc';
	});          
	//]]>
	
});

	function noticy() {
		$.post("/console/list", function(res) {
			$("#noticy").html(res.result.noticy);
			$("#policfile").html(res.result.policfile);
		});
	}
</script>
</html>