<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="/hf/header">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />
</head>
<link rel="stylesheet" href="/static/css/iconfont.css" />
<link rel="stylesheet" href="/static/css/iconfontt.css" />
<style>
.front_nav_content_s1 {
	border-radius: 70px;
	line-height: 80px;
	background-color: #ff8764;
	border: 3px solid #ffc3b1;
	margin-left: 3%;
}

.front_nav_content_s1 .icon {
	font-size: 45px;
	color: #fff;
}

.front_nav_bg1 {
	width: 100%;
}

.front_nav_bg1 img {
	width: 100%;
}

.front_con ul {
	padding-left: 0;
}

.uldiv ul li {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0 3%;
	line-height: 35px;
}

.front_con ul li a {
	height: 35px;
}

.front_con ul li a span {
	display: inline-block;
	max-width: 350px;
	overflow: hidden;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.content {
	padding-left: 8%;
	padding-right: 8%;
}

/* .info-box-content {
	 margin-left: 100px; 
}

.info-box {
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: 0;
	border-left: 0;
	box-shadow: 3px 3px 3px #ccc;
	padding-bottom: 9px;
}

.info-box-number {
	line-height: 76px;
	font-size: 14px;
}

.info-box-icon {
	border-radius: 50px;
} */

.ul-dashed {
	border-bottom: 1px dashed #dddddd;
	padding-left: 10px;
	line-height: 25px;
	margin-right: 21px;
	list-style: none;
}

.notice-li {
	margin-bottom: 6px;
	margin-top:6px; 
}

.right-tool {
	float: right;
	color: #999;
	min-width: 72px;
}

.name {
	color: #000;
	/* text-decoration:underline; */
}

.uldiv {
	height: 248px;
}

.front_con ul li a {
	display: inline-block;
	max-width: 300px;
	overflow: hidden;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
}
</style>
<body>
 <div class="container">
	<section class="content">
		 <!-- <div class="box box-solid">
			<div class="box-header with-border">
				<i class="fa fa-list-ul"></i>
				<h3 class="box-title">快捷菜单</h3>
			</div>
			<div class="box-body">
				state
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="info-box">
						<a href='/prizepunish/index'> <span
							class="info-box-icon front_nav_content_s1"> <i
								class="icon iconfont icon-04gerenfill" style="font-size: 43px;"></i></span>
							<div class="info-box-content">
								<span class="info-box-number">个人平时考评</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="info-box">
						<a href='/assess/cycle/personal/index'> <span
							class="info-box-icon front_nav_content_s1"
							style="background-color: #64b5ed; border: 3px solid #b1daf6">
								<i class="icon iconfont icon-yejiguanli"
								style="font-size: 43px;"></i>
						</span>
							<div class="info-box-content">
								<span class="info-box-number">个人周期考评</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="info-box">
						<a href='/org/user/self/index'> <span
							class="info-box-icon front_nav_content_s1"
							style="background-color: #a68cd6; border: 3px solid #d2c5ea">
								<i class="icon iconfont icon-danganshuju"
								style="font-size: 43px;"></i>
						</span>
							<div class="info-box-content">
								<span class="info-box-number">个人档案</span>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="info-box">
						<a href='/advice/index'> <span
							class="info-box-icon front_nav_content_s1">
							<i class="fa fa-book" aria-hidden="true" style="font-size: 43px;color:white;"></i></span>
							<div class="info-box-content">
								<span class="info-box-number">建言献策</span>
							</div>
						</a>
					</div>
				</div>
				<div class="front_nav_bg1">
					<img src="/static/image/info/frontbg1.png" alt="" />
				</div>
			</div>
		</div>  -->
		
		
		
		<div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="icon iconfont icon-04gerenfill" style="font-size: 43px;"></i></i></span>
            <div class="info-box-content" style="padding:32px 10px;">
              <a href='/prizepunish/index'><span class="info-box-number" style="font-size:17px;">个人平时考评</small></span></a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="icon iconfont icon-yejiguanli" style="font-size: 43px;"></i></span>
            <div class="info-box-content" style="padding:32px 10px;">
              <a href='/assess/cycle/personal/index'><span class="info-box-number" style="font-size:17px;">个人周期考评</small></span></a>
            </div>
          </div>
        </div>
        <div class="clearfix visible-sm-block"></div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="icon iconfont icon-danganshuju" style="font-size: 43px;"></i></span>
            <div class="info-box-content" style="padding:32px 10px;">
              <a href='/org/user/self/index'><span class="info-box-number" style="font-size:17px;">个人档案</small></span></a>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-book" aria-hidden="true" style="font-size: 43px;color:white;"></i></span>
            <div class="info-box-content" style="padding:32px 10px;">
              <a href='/advice/index'><span class="info-box-number" style="font-size:17px;">建言献策</span></a>
            </div>
          </div>
        </div>
      </div>
		<div class="box box-solid">
			<div class="box-header with-border">
				<i class="fa fa-pie-chart" aria-hidden="true"></i>
				<h3 class="box-title">个人周期考评统计</h3>
			</div>
			<div class="box-body">
				<div class="row show-grid">
					<div class="col-xs-5 col-md-2 text-center">
	                <input type="text" class="knob1" th:value="${cyc.yx}" data-width="90" data-height="90" data-fgColor="#00a65a" data-readonly="true">
	                <div style="color: #00a65a;font-weight: bold;">优秀</div>
                	</div>
                	<div class="col-xs-5 col-md-2 text-center">
	                <input type="text" class="knob2" th:value="${cyc.lh}" data-width="90" data-height="90" data-fgColor="#00c0ef" data-readonly="true">
	                <div style="color:#00c0ef;font-weight: bold;">良好</div>
                	</div>
                	<div class="col-xs-5 col-md-2 text-center">
	                <input type="text" class="knob3" th:value="${cyc.hg}" data-width="90" data-height="90" data-fgColor="#f0ad4e" data-readonly="true">
	                <div style="color:#f0ad4e;font-weight: bold;">合格</div>
                	</div>
                	<div class="col-xs-5 col-md-2 text-center">
	                <input type="text" class="knob4" th:value="${cyc.bhg}" data-width="90" data-height="90" data-fgColor="#d9534f" data-readonly="true">
	                <div style="color: #d9534f;font-weight: bold;">不合格</div>
                	</div>
                	<div class="col-xs-5 col-md-2 text-center">
	                <input type="text" class="knob5" th:value="${cyc.bddc}" data-width="90" data-height="90" data-fgColor="#204d74" data-readonly="true">
	                <div style="color:#204d74;font-weight: bold;">不定特等次</div>
                	</div>
				</div>
			</div>
			</div>
			
			<div class="row">
			<div class="col-md-6" style="padding-right: 10px;">
				<div class="box box-info" style="padding-bottom: 1px">
					<div class="box-header with-border">
						<i class="fa fa-bullhorn"></i>
						<h3 class="box-title">通知公告</h3>
						<a style="float:right" href="/inforelease/more/index?isHomePage=true&type=0">更多<i class="fa fa-angle-double-right "></i> </a>
					</div>
					<div style="height: 216px">
					<ul class="notice-list ul-dashed" th:each="o:${list}"
						th:if=" ${o.types} == '0' ">
						<li class="notice-li"><a class="name"
							th:href="@{/inforelease/info/detail?isHomePage=true(id=${o.id})}"
							th:title="${o.title}"><span th:text=${o.title}></span></a>
							<div class="right-tool">
								<span th:text=${o.releaseTime}></span>
							</div></li>
					</ul>
					</div>
				</div>
			</div>
			
			<div class="col-md-6" style="padding-left: 10px;">
				<div class="box box-info" style="padding-bottom: 1px">
					<div class="box-header with-border" >
						<!-- <i class="fa fa-calendar" aria-hidden="true"></i> -->
						<i class="fa fa-folder-open"></i>
						<h3 class="box-title">政策文件</h3>
						<a style="float:right" href="/inforelease/more/index?isHomePage=true&type=1">更多<i class="fa fa-angle-double-right "></i></a>
					</div>
					<div style="height: 216px">
					<ul class="notice-list ul-dashed" th:each="o:${list}"
						th:if=" ${o.types} == '1' ">
						<li class="notice-li"><a class="name"
							th:href="@{/inforelease/info/detail?isHomePage=true(id=${o.id})}"><span
							th:title="${o.title}" th:text=${o.title}></span></a>
							<div class="right-tool">
								<span th:text=${o.releaseTime}></span>
							</div></li>
					</ul>
					</div>
				</div>
			</div>
		</div>
			
			<div class="row">
			<div class="col-md-6" style="padding-right: 10px;">
				<div class="box box-success" style="padding-bottom: 1px">
					<div class="box-header with-border">
						<i class="fa fa-book" aria-hidden="true"></i>
						<h3 class="box-title">宣传教育</h3>
						<a style="float:right" href="/inforelease/more/index?isHomePage=true&type=2">更多<i class="fa fa-angle-double-right "></i> </a>
					</div>
					<div style="height: 216px">
					<ul class="notice-list ul-dashed" th:each="o:${list}"
						th:if=" ${o.typeClassify} == '2' ">
						<li class="notice-li"><a class="name"
							th:href="@{/inforelease/info/detail?isHomePage=true(id=${o.id})}"
							th:title="${o.title}"><span th:text=${o.title}></span></a>
							<div class="right-tool">
								<span th:text=${o.releaseTime}></span>
							</div></li>
					</ul>
					</div>
				</div>
			</div>
			
			<div class="col-md-6" style="padding-left: 10px;">
				<div class="box box-warning" style="padding-bottom: 1px">
					<div class="box-header with-border" >
						<!-- <i class="fa fa-calendar" aria-hidden="true"></i> -->
						<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
						<h3 class="box-title">廉政提醒</h3>
						<a style="float:right" href="/inforelease/more/index?isHomePage=true&type=3">更多<i class="fa fa-angle-double-right "></i></a>
					</div>
					<div style="height: 216px">
					<ul class="notice-list ul-dashed" th:each="o:${list}"
						th:if=" ${o.typeClassify} == '3' ">
						<li class="notice-li"><a class="name"
							th:href="@{/inforelease/info/detail?isHomePage=true(id=${o.id})}"><span
							th:title="${o.title}" th:text=${o.title}></span></a>
							<div class="right-tool">
								<span th:text=${o.releaseTime}></span>
							</div></li>
					</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	</div>
	<div th:include="/hf/footer"></div>
	<script type="text/javascript" src="/static/js/jquery.knob.js"></script>
	<script type="text/javascript">
	//<![CDATA[
		$(function() {
			for (var i = 1; i <= 5; i++) {
				$(".knob" + i).knob({
					max:100,
					thickness : .2
				});
			}
		})
		
	</script>
</body>
</html>