<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
	<!--  <section class="content-header">
        <h1>后台总览</h1>
    </section>
    <section style="min-height: 0px; padding: 15px 0px 0px 0px;" class="content">
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">用户总数</span>
                    <span class="info-box-number">
                        <span th:text="${admin}">0</span>
                        <small>个</small>
                    </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">角色总数</span>
                    <span class="info-box-number">
                        <span th:text="${role}">0</span>
                        <small>个</small>
                    </span>
                    </div>
                </div>
            </div>



            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">资源总数</span>
                    <span class="info-box-number">
                        <span th:text="${menu}">0</span>
                        <small>个</small>
                    </span>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">资源总数</span>
                    <span class="info-box-number">
                        <span th:text="${menu}">0</span>
                        <small>个</small>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
	<div style="padding-left: 15px;">
		<div class="row">
			<div class="form-group">
				<div
					style="height: 710px; width: 96%; margin: 0px 15px 0px 15px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); border: solid 1px #f4f4f4">
					<div class="col-sm-10">
						<div
							style="text-align: center; margin: 15px 15px 0px 60px; height: 50%"
							class="col-sm-4">通知公告</div>
						<div
							style="text-align: center; margin: 15px 15px 0px 60px; height: 50%"
							class="col-sm-4">政策文件</div>
					</div>
					<div class="col-sm-10">
						<div style="margin: 15px 15px 0px 60px; height: 50%"
							class="col-sm-5">
							<table id="dataGrid"></table>
						</div>
						<div style="margin: 15px 15px 0px 50px; height: 50%"
							class="col-sm-5">
							<table id="dataGrid2"></table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="console/footer"></div>
</body>
<script type="text/javascript">
$(function(){
	initDataGrid();
	initDataGrid2();
});
function initDataGrid(){
	$table = $("#dataGrid");
    $table.bootstrapTable({
        height : tableModel.getHeight(),
        idField : "id",
        columns : [[
            {title: "标题", field: "title"},
            {title: "发布时间", field: "releaseTime",sortable: true },
            {title: "操作", field: "operate", formatter: operateFormatter}
        ]],
        url : '/console/list',
        queryParams: function(params){
        	 var params = {
        	id:0,
			sort:params.sort,
			order:params.order,
			limit: params.limit,
			offset:params.offset,
	    };
            return params;
        },
        responseHandler : function (res) {
            return {
                rows : res.result.pageInfo.list,
                total : res.result.pageInfo.total
            }
        },
        sortName : 'release_time',
        sortOrder : 'desc',
        pagination : true,
        sidePagination : 'server',
        pageSize: 5,
        height: 400,
        //pageList : [5,10, 20],
    });
	function operateFormatter(value, row, index) {
	    return [
			'<a  class="grant" href="javascript:void(0);">',
			'<i class="glyphicon glyphicon-edit"></i>查看',
			'</a>  '
	    ].join('');
	}
}

function initDataGrid2(){
	$table = $("#dataGrid2");
    $table.bootstrapTable({
        height : tableModel.getHeight(),
        idField : "id",
        columns : [[
            {title: "标题", field: "title"},
            {title: "发布时间", field: "releaseTime",sortable: true },
            {title: "操作", field: "operate", formatter: operateFormatter}
        ]],
        url : '/console/list',
        queryParams: function(params){
        	 var params = {
        	id:1,
			sort:params.sort,
			order:params.order,
			limit: params.limit,
			offset:params.offset,
	    };
            return params;
        },
        responseHandler : function (res) {
            return {
                rows : res.result.pageInfo.list,
                total : res.result.pageInfo.total
            }
        },
        sortName : 'release_time',
        sortOrder : 'desc',
        pagination : true,
        sidePagination : 'server',
        pageSize: 5,
        height: 400,
        //pageList : [5,10, 20],
    });
	function operateFormatter(value, row, index) {
	    return [
			'<a  class="grant" href="javascript:void(0);">',
			'<i class="glyphicon glyphicon-edit"></i>查看',
			'</a>  '
	    ].join('');
	}
}
</script>
</html>