<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:include="console/header">
</head>
<body>
<section class="content-header">
    <h1>事件类型维护</h1>
</section>

<section class="content-header">
<fieldset> 	
<legend>查询条件</legend>
<div class="form-group">
	<label style="line-height: 36px" for="dictName" class="col-sm-1 control-label">事件名称:</label>
     <div  class="col-sm-2">
    	<input type="text" name="dictName" class="form-control" id="dictName"/>
    </div>
	<div class="col-sm-1">
    <a onclick="query()" class="btn btn-primary">查询</a>
    </div>
</div>
</fieldset>
</section>
<div id="toolbar">
    <a onclick="addDict()" href="javascript:void(0)" class="btn btn-primary" ><i class="glyphicon glyphicon-plus"></i>添加事件</a>
</div>
<section class="content table-content">
    <table id="dataGrid"></table>
</section>
<div id='info' style = "display : none">       
<ul id="info2" class="list-group" style="overflow:hidden;margin-bottom:0px;"></ul>
</div>
<div th:include="console/footer"></div>
<script type="text/javascript">
    $table = $("#dataGrid");
    $(function () {
        initDataGrid();
    });
    
    function query(){
    	$("#dataGrid").bootstrapTable('destroy')
    	initDataGrid();
    }
    function initDataGrid(){
        $table.bootstrapTable({
            height : tableModel.getHeight(),
            idField : "dictCode",
            columns: [[
                {title: "事件名称", field: "dictName"},
                {title: "操作", field: "operate",width: '300', align: 'center', events: operateEvents, formatter: operateFormatter},
                ]],
            url: '/console/eve/list',
             queryParams: function(params){
            	var params = {
            			dictName: $("#dictName").val(),
	        			limit: params.limit,
	        			offset:params.offset, 
	        	    }; 
            	return params;
            }, 
             responseHandler : function (res) {
                return {
                    rows : res.result.pageInfo.list,
                    total : res.result.pageInfo.total
                }
            }, 
            search : false,
            sortName : 'createTime',
            sortOrder : 'asc',
            pagination : true,
            sidePagination : 'server',
            pageSize: 10,
	        pageList : [10,15,20],
            toolbar : "#toolbar",
            showRefresh : true,
            showToggle : false
        });
    }

    function operateFormatter(value, row, index) {
        return [
            '<a class="edit" href="javascript:void(0);" >',
            '<i class="glyphicon glyphicon-edit"></i>修改',
            '</a>  ',
            '<a  class="remove" href="javascript:void(0);">',
            '<i class="glyphicon glyphicon-remove"></i>删除',
            '</a>'
        ].join('');
    }

    window.operateEvents = {
        'click .remove' : function (e, value, row, index) {
        	removeDict(row.dictCode,row.sort)
        },'click .edit' : function (e, value, row, index) {
           editDict(row.dictCode,row.sort);
        } 
    };
    
    function addDict(){
    	layer.open({
               type: 2,
               title: ' ',
               maxmin: true, //开启最大化最小化按钮
               area: $.getOpenLayerSize(700, 300),
               content: '/console/eve/from',
                success: function(layero, index){
            	 $.setLayerSubmitHandler(layero,index, function(){
            			layer.close(index);
            			$table.bootstrapTable('refresh', {url: '/console/eve/list'});          		
            	 },"保存成功");
               } 
           });
    }
    
  //<![CDATA[
	function editDict(dictCode,sort) {
		layer.open({
            type: 2,
            title: ' ',
            maxmin: true, //开启最大化最小化按钮
            area: $.getOpenLayerSize(700, 300),
            content: '/console/eve/from?dictCode='+dictCode+'&sort='+sort+'',
            success: function(layero, index){
         	 $.setLayerSubmitHandler(layero,index, function(){
         		 layer.close(index);
         			$table.bootstrapTable('refresh', {url: '/console/eve/list'});          		
         	 },"修改成功");
            } 
        });
	}
	//]]> 
  
	 //<![CDATA[
	function removeDict(dictCode,sort) {
		
		layer.confirm('确定删除吗?', function() {
			$.getAjax('/console/eve/delete?dictCode='+dictCode+'&sort='+sort, function() {
				$.successMessage("删除成功");
				$table.bootstrapTable('refresh', {
					url : '/console/eve/list'
				});
			});
		});
	}
	
	
	
	//]]> 
	 
	$('body').bind('keypress',function (event){
        if(event.keyCode == '13'){
            query();
        }
    });

</script>
</body>
</html>