<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="console/header">
</head>
<body>
	<section class="content-header">
		<h1>字典管理</h1>
		<small style="font-size:16px">字典列表</small>
	</section>

	<section class="content table-content">
		<a href="/console/dict/from"
			class="btn btn-primary" style="margin-bottom:10px;margin-top:10px;">添加字典</a>
			
		<table class="table table-bordered" id="dataGrid">
			<tr>
				<th>字典代码</th>
				<th>字典名称</th>
				<th>排序</th>
				<th>操作</th>
			</tr>
			<tr th:id="${dict.id}" th:each="dict,dictStat:${dicts}"
				th:class="${#strings.equals(dict.parentId,'0')?'treegrid-'+dict.id : 'treegrid-'+dict.id+' treegrid-parent-'+dict.parentId} ">
				<td th:text="${dict.dictCode}"></td>
				<td th:text="${dict.dictName}"></td>
				<td th:text="${dict.sort}"></td>
				<td><a
					th:href="${'/console/dict/from?parentId='+dict.id}"><i
						class="glyphicon glyphicon-add"></i>添加下级字典</a> <a
					
					th:href="${'/console/dict/from?id='+dict.id}"><i
						class="glyphicon glyphicon-edit"></i>修改</a> <a class="remove"
					 th:attr="data-id=${dict.id}"
					href="javascript:void(0);"><i
						class="glyphicon glyphicon-remove"></i>删除</a></td>
			</tr>
		</table>
	</section>

	<div th:include="console/footer"></div>

	<script type="text/javascript">
		$table = $("#dataGrid");
		$(function() {
			$(".table").treegrid({
				initialState : 'collapsed',
				expanderExpandedClass : 'glyphicon glyphicon-minus',
				expanderCollapsedClass : 'glyphicon glyphicon-plus'
			});
			//删除处理
			$(".remove").on('click', function() {
				var _this = $(this);
				layer.confirm('确定删除吗?', function() {
					$.getJSON('/console/dict/delete', {
						ids : _this.data('id')
					}, function(ret) {
						if (ret.result > 0) {
							layer.alert("有" + ret.result + "个下级字典，不能删除！");
						} else {
							if (ret.status) {
								layer.msg(ret.msg, {
									icon : 1
								}, function() {
									//$('#' + _this.data('id')).hide();
									$('#dataGrid').treegrid('reload');
								});
							} else {
								layer.msg(ret.msg, {
									icon : 2
								});
							}
						}
					});
				});
			})
		});
	</script>

</body>
</html>