<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
<section class="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title" th:text="'人员信息管理'+${#strings.isEmpty(per.perSystemId)?'添加':'修改'}"></h3>
                </div>
                 <div class="box-body">
                    <form id="signupForm" class="form-horizontal js-ajax-form"  action="/console/per/save" method="post">
                    <fieldset>
                    	<input type="hidden" name="id" id="unitinfoId" th:value="${per.id}" />
                        <input type="hidden" name="createAdminid"  th:value="${per.createAdminid}" />
                        <input type="hidden" name="createTime"  th:value="${per.createTime}" />
                        <input type="hidden" name="filingTime"  th:value="${per.filingTime}" />
                        <input type="hidden" name="isAdmin"  th:value="${per.isAdmin}" />
                        <input type="hidden" name="isDel"  th:value="${per.isDel}" />
                        <input type="hidden" name="perKpxz"  th:value="${per.perKpxz}" />
                    <div class="form-group">
                            <label for="perSystemId" class="col-sm-2 control-label">系统帐号</label>
                            <div class="col-sm-8">
                                <input type="text" required="required"   name="perSystemId" class="form-control" id="perSystemId" th:value="${per.perSystemId}" />
                            </div>
                            <div style="line-height:30px">1~32位数字或字母</div>
                        </div>
                     <div class="form-group">
                            <label for="perName" class="col-sm-2 control-label" >姓名</label>
                            <div class="col-sm-2">
                                <input minlength="2" type="text" required="required" name="perName" class="form-control" id="perName" th:value="${per.perName}" />
                            </div>
                            <label for="nation" class="col-sm-2 control-label" >民族</label>
                            <div class="col-sm-2">
                                <select required="required" name="nation" class="form-control">
                               		<option value="">请选择</option>
                               		<option th:each="dicksmz,dictsStat:${dicts_mz}" th:selected="${#strings.equals(dicksmz.id, per.nation)}"  th:text="${dicksmz.dictName}" th:value="${dicksmz.id}"></option>
                                </select>
                            </div>
                            <label for="dateBirth" class="col-sm-2 control-label" >出生年月</label>
                            <div class="col-sm-2">
                            <input  type="text" id="datepicker" name="dateBirth" class="form-control" th:value="${per.dateBirth}" readonly="readonly" placeholder="请选择日期" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dictArtment" class="col-sm-2 control-label">所属科室</label>
                            <div class="col-sm-2">
                                 <select required="required" name="dictArtment" class="form-control">
                               		<option value="">请选择</option>
                               		<option th:each="dickslb,dictsStat:${dicts_kslb}" th:selected="${#strings.equals(dickslb.id, per.dictArtment)}"  th:text="${dickslb.dictName}" th:value="${dickslb.id}"></option>
                                </select>
                            </div>
                            <label for="isExaminer" class="col-sm-2 control-label">是否考评人员</label>
                            <div class="col-sm-2">
                                 <select required="required" name="isExaminer" class="form-control">
                               		<option value="0" th:selected="${per.isExaminer eq '0'}">否</option>
                               		<option value="1" th:selected="${per.isExaminer eq '1'}">是</option>
                                </select>
                            </div>
                            <label for="dictParty" class="col-sm-2 control-label">政治面貌</label>
                            <div class="col-sm-2">
                            <select required="required"  name="dictParty" class="form-control">
                               		<option value="">请选择</option>
                                    <option th:each="diczzmm,dictszzmmStat:${dicts_zzmm}" th:selected="${#strings.equals(diczzmm.id, per.dictParty)}"  th:text="${diczzmm.dictName}" th:value="${diczzmm.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dictDiploma" class="col-sm-2 control-label">学历</label>
                            <div class="col-sm-2">
                                 <select required="required" name="dictDiploma" class="form-control">
                               		<option value="">请选择</option>
                               		<option th:each="dicxl,dictsStat:${dicts_xl}" th:selected="${#strings.equals(dicxl.id, per.dictDiploma)}"  th:text="${dicxl.dictName}" th:value="${dicxl.id}"></option>
                                </select>
                            </div>
                            <label for="dictDuties" class="col-sm-2 control-label">职务</label>
                            <div class="col-sm-2">
                                 <select required="required" name="dictDuties" class="form-control">
                               		<option value="">请选择</option>
                               		<option  th:each="diczw,dictsStat:${dicts_zw}" th:selected="${#strings.equals(diczw.id, per.dictDuties)}"  th:text="${diczw.dictName}" th:value="${diczw.id}"></option>
                                </select>
                            </div>
                            <label for="dictRank" class="col-sm-2 control-label">职级</label>
                            <div class="col-sm-2">
                            <select required="required" name="dictRank" class="form-control">
                               		<option value="">请选择</option>
                                     <option th:each="diczj,dictsStat:${dicts_zj}" th:selected="${#strings.equals(diczj.id, per.dictRank)}"  th:text="${diczj.dictName}" th:value="${diczj.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="perCard" class="col-sm-2 control-label">身份证号码</label>
                            <div class="col-sm-10">
                                <input type="text" maxlength="18" minlength="18" digits="true" required="required" name="perCard" class="form-control" id="perCard"  th:value="${per.perCard}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="unit" class="col-sm-2 control-label">所在单位</label>
                            <div class="col-sm-10">
                                <input type="text" required="required" name="unit" class="form-control" id="unit"  th:value="${per.unit}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="perPhone" class="col-sm-2 control-label">手机号码</label>
                            <div class="col-sm-4">
                                <input type="text" maxlength="11" minlength="11" digits="true" required="required" name="perPhone" class="form-control" id="perPhone" th:value="${per.perPhone}"/>
                            </div>
                            <label for="perSex" class="col-sm-2 control-label">性别</label>
                            <div class="col-sm-4">
                                 <select required="required" name="perSex" class="form-control">
                               		<option value="">请选择</option>
                               		<option value="0" th:selected="${per.perSex eq '0'}">女</option>
                               		<option value="1" th:selected="${per.perSex eq '1'}">男</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                              <label for="userLevel" class="col-sm-2 control-label">用户级别</label>
                            <div class="col-sm-4">
                               <select required="required" name="userLevel" class="form-control">
                               		<option value="">请选择</option>
                               		<option th:each="ListsRole,roleStat:${ListsRole}" th:selected="${#strings.equals(ListsRole.roleId, per.userLevel)}"  th:text="${ListsRole.roleName}" th:value="${ListsRole.roleId}"></option>
                                </select>
                            </div>
                             <label  for="dictAtt" class="col-sm-2 control-label">人员属性</label>
                            <div class="col-sm-4">
                                 <select required="required" name="dictAtt" class="form-control">
                               		<option value="">请选择</option>
                               		<option th:each="dicrysx,dictsStat:${dicts_rysx}" th:selected="${#strings.equals(dicrysx.id, per.dictAtt)}"  th:text="${dicrysx.dictName}" th:value="${dicrysx.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="joinworkTime" class="col-sm-2 control-label" >参加工作时间</label>
                            <div class="col-sm-4">
                            <input  type="text" id="datepicker2" name="joinworkTime"  class="form-control" readonly="readonly" placeholder="请选择日期" th:value="${per.joinworkTime}" />
                            </div>
                            <label  for="startworkTime" class="col-sm-2 control-label" >进单位工作时间</label>
                            <div class="col-sm-4">
                            <input type="text" id="datepicker3" name="startworkTime" class="form-control" readonly="readonly" placeholder="请选择日期" th:value="${per.startworkTime}" />
                            </div>
                        </div>
                        <div class="form-group">
                        <label for="resume" class="col-sm-2 control-label" >个人简历</label>
                        <div class="col-sm-10">
						    <textarea  name="resume" class="form-control" rows="4" style="resize: none;" th:text="${per.resume}" ></textarea>
						    </div>
						  </div>
                        <div class="form-group">
                        <label for="perReward" class="col-sm-2 control-label" >历年奖励情况</label>
                        <div class="col-sm-10">
						    <textarea  name="perReward" class="form-control" rows="4" style="resize: none;" th:text="${per.perReward}" ></textarea>
						    </div>
						  </div>
                        <div class="form-group">
                        <label for="perHandlle" class="col-sm-2 control-label" >历年受惩情况</label>
                        <div class="col-sm-10">
						    <textarea  name="perHandlle" class="form-control" rows="4" style="resize: none;" th:text="${per.perHandlle}"></textarea>
						    </div>
						  </div>
						  <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button  type="submit" class="btn btn-default js-ajax-submit">提交</button>
                            </div>
                        </div>
                        </fieldset>
                    </form>
                </div> 
            </div>
        </div>
    </div>
</section>
<div th:include="console/footer"></div>
<script type="text/javascript">
	$(function(){
		 $("#datepicker").datepicker({
		        language: "zh-CN",
		        autoclose: true,//选中之后自动隐藏日期选择框
		        clearBtn: true,//清除按钮
		        //todayBtn: true,//今日按钮
		        format: "yyyy-mm-dd"//日期格式，详见 http://bootstrap-datepicker.readthedocs.org/en/release/options.html#format
		    });
		 $("#datepicker2").datepicker({
		        language: "zh-CN",
		        autoclose: true,//选中之后自动隐藏日期选择框
		        clearBtn: true,//清除按钮
		        //todayBtn: true,//今日按钮
		        format: "yyyy-mm-dd"//日期格式，详见 http://bootstrap-datepicker.readthedocs.org/en/release/options.html#format
		    });
		 $("#datepicker3").datepicker({
		        language: "zh-CN",
		        autoclose: true,//选中之后自动隐藏日期选择框
		        clearBtn: true,//清除按钮
		        //todayBtn: true,//今日按钮
		        format: "yyyy-mm-dd"//日期格式，详见 http://bootstrap-datepicker.readthedocs.org/en/release/options.html#format
		    });	 	 	 	 	 
	});

</script>

</body>

</html>