<!DOCTYPE HTML>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" 
xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="console/header">
</head>
<body>

<section class="content-header">
    <h1>人员信息管理</h1>
    <small style="font-size: 16px;">人员列表</small>
</section>
<section class="content-header">
<div style="border: 1px #ddd solid;" class="box-body">
<form >
<div class="form-group">
   	 <label style="line-height: 36px" for="dictArtment" class="col-sm-1 control-label">所在科室:</label>
     <div style="width: 9.666667%" class="col-sm-2">
      <select id="dictArtment" name="dictArtment" class="form-control">
           <option value="">请选择</option>
           <option th:each="dic,dictsStat:${dicts}"  th:text="${dic.dictName}" th:value="${dic.id}"></option>
      </select>
    </div>
    <label style="line-height: 36px; width: 6.33333%"  for="perName" class="col-sm-1 control-label">姓名:</label>
     <div style="width: 9.666667%" class="col-sm-2">
    	<input type="text" name="perName" class="form-control" id="perName"/>
    </div>
    <label style="line-height: 36px;width: 6.33333%" for="dictDuties" class="col-sm-1 control-label">职称:</label>
     <div style="width: 9.666667%" class="col-sm-2">
      <select id="dictDuties" name="dictDuties" class="form-control">
           <option value="">请选择</option>
           <option th:each="dic2,dictsStat:${dicts2}"  th:text="${dic2.dictName}" th:value="${dic2.id}"></option>
      </select>
    </div>
    <label style="line-height: 36px" for="isExaminer" class="col-sm-1 control-label">是否考评人:</label>
     <div style="width: 9.666667%" class="col-sm-2">
      <select id="isExaminer" name="isExaminer" class="form-control">
           <option value="">请选择</option>
           <option value="0">否</option>
           <option value="1">是</option>
      </select>
    </div>
    <label style="line-height: 36px" for="filingTime" class="col-sm-1 control-label">建档时间:</label>
    <div style="width: 11.666667%;" class="col-sm-2">
    	<!-- <input type="text" name="unitPhone" class="form-control" id="unitPhone"/> -->
    	<input type="text" id="datepicker" name="filingTime" class="form-control" readonly="readonly" placeholder="请选择日期" />
    </div>
    <div style="padding: 0 0 0 0; width:10.666667%; " class="col-sm-1" >
    <a onclick="query()" class="btn btn-primary">查询</a>
     <button type="reset" class="btn btn-primary js-ajax-submit">重置</button>
    </div>
 </div>
 </form>
</div>
</section>
<section class="content table-content">
    <table id="dataGrid"></table>
</section>
<div id="toolbar">
    <a shiro:hasPermission="per:save" href="/console/per/from" class="btn btn-primary">新增用户信息</a>
</div>
<div  th:include="console/footer"></div>
<script type="text/javascript">
		$table = $("#dataGrid");
		$(function () {
		    	initDataGrid2();
			    $("#datepicker").datepicker({
			        language: "zh-CN",
			        autoclose: true,//选中之后自动隐藏日期选择框
			        clearBtn: true,//清除按钮
			        //todayBtn: true,//今日按钮
			        format: "yyyy-mm-dd"//日期格式，详见 http://bootstrap-datepicker.readthedocs.org/en/release/options.html#format
			    });
			    
			    
		});
		function query(){
			$("#dataGrid").bootstrapTable('destroy');
			initDataGrid2();
		}
		//查询单位信息
		function initDataGrid2(){
		    $table.bootstrapTable({
		        height : tableModel.getHeight(),
		        idField : "id",
		        columns : [[
		            {title: "系统帐号", field: "per_system_id" },
		            {title: "所在单位", field: "unit" },
		            {title: "被考评科室", field: "dict_artment" },
		            {title: "是否考评人", field: "is_examiner" ,formatter : getexaminer},
		            {title: "姓名", field: "per_name" },
		            {title: "性别", field: "per_sex" ,formatter : getsex},
		            {title: "职称", field: "dict_duties" },
		            {title: "职务", field: "dict_rank" },
		            {title: "学历", field: "dict_diploma" },
		            {title: "手机号", field: "per_phone" },
		            {title: "身份证号码", field: "per_card" },
		            {title: "建档时间", field: "filing_time",sortable: true},
		            {title: "操作", field: "operate",events: operateEvents, formatter: operateFormatter}
		        ]],
		        url : '/console/per/list',
		        queryParams: function(params){
		        	         var params = {
		        	        dictArtment: $("#dictArtment").val(),
		        	        perName: $("#perName").val(),
		        	        dictDuties: $("#dictDuties").val(),
		        	        isExaminer: $("#isExaminer").val(),
		        	        filingTime: $("#datepicker").val(),
		        	        sort:params.sort,
		        			order:params.order,
		        			limit: params.limit,
		        			offset:params.offset,
		        	    };       
		            return params;
		        },
		        responseHandler : function (res) {
		            return {
		                rows : res.result.pageInfo.list,
		                total : res.result.pageInfo.total
		            }
		        },
		        search : false,
		        sortName : 'create_time',
		        sortOrder : 'desc',
		        pagination : true,
		        sidePagination : 'server',
		        pageSize: 5,
		        pageList : [5,10, 20],
		        toolbar : "#toolbar",
		        showRefresh : true,
		        showToggle : true
		    });
		}
		
		
		function operateFormatter(value, row, index) {
		    return [
				'<a shiro:hasPermission="per:info" class="grant" href="javascript:void(0);">',
				'<i class="glyphicon glyphicon-edit"></i>查看详情',
				'</a>  ',
		        '<a shiro:hasPermission="per:save" href="/console/per/from?id='+row.id+'" >',
		        '<i class="glyphicon glyphicon-edit"></i>修改',
		        '</a>  ',
		        '<a shiro:hasPermission="per:delete" class="remove" href="javascript:void(0);">',
		        '<i class="glyphicon glyphicon-remove"></i>删除',
		        '</a>'
		    ].join('');
		}
		
		
	    window.operateEvents = {
	            'click .remove': function (e, value, row, index) {
	                operaModel.delRow(row.id, '/console/per/delete?id='+row.id, 'id');
	            },
	            
	            'click .grant' : function (e, value, row, index) {
	                layer.open({
	                    type: 2,
	                    title: '人员信息详情',
	                    shadeClose: true,
	                    shade: false,
	                    maxmin: true, //开启最大化最小化按钮
	        			area: $.getOpenLayerSize(900, 700),
	                    content: '/console/per/infoid/?id=' + row.id
	                });
	            }
	        };
		
	    function getexaminer(value,row,index) {
	        if(row.is_examiner == 1){
	            return "是"
	        }else if(row.is_examiner == 0){
	            return "否"
	        }else{
	        	return "-"
	        }
	    }
		
	    function getsex(value,row,index) {
	        if(row.per_sex == 1){
	            return "男"
	        }else if(row.per_sex == 0){
	            return "女"
	        }else{
	        	return "-"
	        }
	    }
	    				
</script>
</body>
</html>