<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.hf.mapper.assess.cycle.PersonCycAssessMapper">
    <select id="findPersonal" parameterType="com.paladin.hf.service.assess.cycle.dto.PersonalQueryDTO" resultType="com.paladin.hf.service.assess.cycle.vo.AssessCycleSimpleVO">
        SELECT
        pca.id AS id,
        pca.org_user_id AS userId,
        pca.assess_cycle_id AS assessCycleId,
        pca.self_ass_grade AS selfAssGrade,
        pca.depart_grade AS departGrade,
        pca.unit_ass_grade AS unitAssGrade,
        pca.confirmed_result AS confirmedResult,
        pca.operate_state AS operateState,
        pca.unit_id AS unitId,
        pca.agency_id AS agencyId,
        ac.cycle_name AS assessCycName,
        our.`name` AS userName
        FROM person_cyc_assess pca
        INNER JOIN assess_cycle ac ON ac.id = pca.assess_cycle_id
        INNER JOIN org_user our ON our.id = pca.org_user_id
        WHERE pca.org_user_id=#{userId}
        <if test="assessCycleId!=null and assessCycleId!=''">
            and pca.assess_cycle_id=#{assessCycleId}
        </if>
        ORDER BY ac.cycle_start_time DESC
    </select>
    
    <select id="findDepartment" resultType="com.paladin.hf.service.assess.cycle.vo.AssessCycleSimpleVO">
        SELECT
        pca.id AS id,
        pca.org_user_id AS userId,
        pca.assess_cycle_id AS assessCycleId,
        pca.self_ass_grade AS selfAssGrade,
        pca.depart_grade AS departGrade,
        pca.unit_ass_grade AS unitAssGrade,
        pca.confirmed_result AS confirmedResult,
        pca.operate_state AS operateState,
        pca.unit_id AS unitId,
        pca.agency_id AS agencyId,
        ac.cycle_name AS assessCycName,
        our.`name` AS userName
        FROM person_cyc_assess pca
        INNER JOIN assess_cycle ac ON ac.id = pca.assess_cycle_id
        INNER JOIN org_user our ON our.id = pca.org_user_id
        WHERE our.is_delete = 0 
        	AND pca.assess_cycle_id = #{query.cycleId}
        	AND pca.operate_state > 0
        <if test="unitParam.unitId!=null">
            AND pca.unit_id=#{unitParam.unitId}
        </if>
        <if test="unitParam.assessTeamId!=null">
            AND pca.assess_team_id=#{unitParam.assessTeamId}
        </if>
        <if test="unitParam.unitIds!=null">
            AND pca.unit_id in
            <foreach collection="unitParam.unitIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="unitParam.agencyId!=null">
            AND pca.agency_id=#{unitParam.agencyId}
        </if>
        <if test="unitParam.agencyIds!=null">
            AND pca.agency_id in
            <foreach collection="unitParam.agencyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="query.name!=null and query.name!=''">
            AND our.name like CONCAT('%',#{query.name},'%')
        </if>
        <if test="query.status!=null and query.status==1">
            AND pca.operate_state = 1
        </if>
        <if test="query.status!=null and query.status==2">
            AND pca.operate_state = 2
        </if>
        <if test="query.status!=null and query.status== 3">
            AND pca.operate_state >= 3
        </if>
    </select>

    <select id="findAgency" resultType="com.paladin.hf.service.assess.cycle.vo.AssessCycleSimpleVO">
        SELECT
        pca.id AS id,
        pca.org_user_id AS userId,
        pca.assess_cycle_id AS assessCycleId,
        pca.self_ass_grade AS selfAssGrade,
        pca.depart_grade AS departGrade,
        pca.unit_ass_grade AS unitAssGrade,
        pca.confirmed_result AS confirmedResult,
        pca.operate_state AS operateState,
        pca.unit_id AS unitId,
        pca.agency_id AS agencyId,
        ac.cycle_name AS assessCycName,
        our.`name` AS userName
        FROM person_cyc_assess pca
        INNER JOIN assess_cycle ac ON ac.id = pca.assess_cycle_id
        INNER JOIN org_user our ON our.id = pca.org_user_id
        WHERE our.is_delete = 0 
        	AND pca.assess_cycle_id = #{query.cycleId}
        	AND pca.operate_state > 2
        <if test="unitParam.unitId!=null">
            AND pca.unit_id=#{unitParam.unitId}
        </if>
        <if test="unitParam.assessTeamId!=null">
            AND pca.assess_team_id=#{unitParam.assessTeamId}
        </if>
        <if test="unitParam.unitIds!=null">
            AND pca.unit_id in
            <foreach collection="unitParam.unitIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="unitParam.agencyId!=null">
            AND pca.agency_id=#{unitParam.agencyId}
        </if>
        <if test="unitParam.agencyIds!=null">
            AND pca.agency_id in
            <foreach collection="unitParam.agencyIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="query.name!=null and query.name!=''">
            AND our.name like CONCAT('%',#{query.name},'%')
        </if>
        <if test="query.status!=null and query.status ==1">
            AND pca.operate_state = 3
        </if>
        <if test="query.status!=null and query.status ==2">
            AND pca.operate_state = 4
        </if>
        <if test="query.status!=null and query.status ==3">
            AND pca.operate_state >= 5
        </if>
    </select>

    <select id="getDetailByUserAndCycle" resultType="com.paladin.hf.service.assess.cycle.vo.AssessCycleDetailVO">
        SELECT
        pca.id AS id,
        pca.org_user_id AS userId,
        pca.assess_cycle_id AS assessCycleId,
        pca.self_ass_grade AS selfAssGrade,
        pca.self_ass_time AS selfAssTime,
        pca.depart_grade AS departGrade,
        pca.depart_ass_time AS departAssTime,
        pca.unit_ass_grade AS unitAssGrade,
        pca.unit_ass_time AS unitAssTime,
        pca.confirmed_result AS confirmedResult,
        pca.confirmed_time AS confirmedTime,
        pca.remarks AS remarks,
        pca.operate_state AS operateState,
        pca.assessed_sign AS assessedSign,
        pca.dep_assessor_sign AS depAssessorSign,
        pca.unit_assessor_sign AS unitAssessorSign,
        pca.assessed_confirm_sign AS assessedConfirmSign,
        pca.unit_id AS unitId,
        pca.agency_id AS agencyId,
        pca.assess_team_id AS assessTeamId,
        pca.work_summary AS workSummary,
        pca.self_ass_opinion AS selfAssOpinion,
        pca.depart_opinion AS departOpinion,
        pca.unit_group_opinion AS unitGroupOpinion,
        pca.reject_reason AS rejectReason,
        ac.cycle_name AS assessCycName,
        our.`name`AS userName,
        our.sex,
        our.birthday,
        our.job_duties AS jobDuties,
        aqr.base_score AS baseScore,
        aqr.add_score AS addScore,
        aqr.reduce_score AS reduceScore,
        aqr.is_veto AS isVeto
        FROM person_cyc_assess pca
        INNER JOIN assess_cycle ac ON ac.id = pca.assess_cycle_id
        INNER JOIN org_user our ON our.id = pca.org_user_id
        LEFT JOIN assess_quantitative_result aqr ON aqr.user_id = pca.org_user_id AND aqr.cycle_id = pca.assess_cycle_id
        WHERE pca.org_user_id=#{userId} AND pca.assess_cycle_id=#{cycleId}
    </select>
    
    <select id="getDetailById" resultType="com.paladin.hf.service.assess.cycle.vo.AssessCycleDetailVO">
        SELECT
        pca.id AS id,
        pca.org_user_id AS userId,
        pca.assess_cycle_id AS assessCycleId,
        pca.self_ass_grade AS selfAssGrade,
        pca.self_ass_time AS selfAssTime,
        pca.depart_grade AS departGrade,
        pca.depart_ass_time AS departAssTime,
        pca.unit_ass_grade AS unitAssGrade,
        pca.unit_ass_time AS unitAssTime,
        pca.confirmed_result AS confirmedResult,
        pca.confirmed_time AS confirmedTime,
        pca.remarks AS remarks,
        pca.operate_state AS operateState,
        pca.assessed_sign AS assessedSign,
        pca.dep_assessor_sign AS depAssessorSign,
        pca.unit_assessor_sign AS unitAssessorSign,
        pca.assessed_confirm_sign AS assessedConfirmSign,
        pca.unit_id AS unitId,
        pca.agency_id AS agencyId,
        pca.assess_team_id AS assessTeamId,
        pca.work_summary AS workSummary,
        pca.self_ass_opinion AS selfAssOpinion,
        pca.depart_opinion AS departOpinion,
        pca.unit_group_opinion AS unitGroupOpinion,
        pca.reject_reason AS rejectReason,
        ac.cycle_name AS assessCycName,
        our.`name`AS userName,
        our.sex,
        our.birthday,
        our.job_duties AS jobDuties,
        aqr.base_score AS baseScore,
        aqr.add_score AS addScore,
        aqr.reduce_score AS reduceScore,
        aqr.is_veto AS isVeto
        FROM person_cyc_assess pca
        INNER JOIN assess_cycle ac ON ac.id = pca.assess_cycle_id
        INNER JOIN org_user our ON our.id = pca.org_user_id
        LEFT JOIN assess_quantitative_result aqr ON aqr.user_id = pca.org_user_id AND aqr.cycle_id = pca.assess_cycle_id
        WHERE pca.id=#{id}
    </select>
    
    <select id="getCountByUserAndCycle" resultType="int">
        SELECT COUNT(1) FROM person_cyc_assess pca WHERE pca.org_user_id=#{userId} AND pca.assess_cycle_id=#{cycleId}
    </select>
    
    <delete id="deletePersonalCycleAssess">
        DELETE FROM person_cyc_assess WHERE id= #{id} AND operate_state = 0
    </delete>
    
    <update id="updateConfirmResult">
        UPDATE person_cyc_assess
        SET confirmed_result=#{confirmedResult}, confirmed_time = now(), assessed_confirm_sign = #{assessedConfirmSign}, operate_state = 6
        WHERE id = #{id} AND operate_state = 5
    </update>
    
    <update id="submitDepartment">
        UPDATE person_cyc_assess
        SET operate_state = 3, depart_ass_time = now()
        WHERE id = #{id} AND operate_state = 2
    </update>
    
    <update id="rejectDepartment">
        UPDATE person_cyc_assess
        SET operate_state = -1,reject_reason = #{rejectReason}
        WHERE id = #{id} AND (operate_state = 1 OR operate_state = 2)
    </update>
    
    <update id="submitAgency">
        UPDATE person_cyc_assess
        SET operate_state = 5, unit_ass_time = now()
        WHERE id = #{id} AND operate_state = 4
    </update>
    
    <update id="rejectAgency">
        UPDATE person_cyc_assess
        SET operate_state = -1,reject_reason = #{rejectReason}
        WHERE id = #{id}
    </update>

    
</mapper>