<!DOCTYPE HTML>
<html lang="en"  xmlns:th="http://www.thymeleaf.org" 
>
<head th:include="console/header">
</head>
<script type="text/javascript" src="/static/js/peacepeople.js"></script>
<body>

<section class="content-header">
     <h1>奖惩事件管理</h1>
     	<div >
	 		<div style="margin-top: -28px;" class="pull-right" th:if="${backurl} != null">
				<a th:href="${backurl}" class="btn btn-warning"><i class="glyphicon glyphicon-share-alt"></i>返回</a>
	 		</div>  
	  	</div> 
	  
	  <!--  <h1>奖惩事件管理</h1>
	  <div style="margin-top: -28px;" class="pull-right" th:if="${a} != null">
	  <a href="javascript:void(0);" onClick="javascript :history.back(-1);" class="btn btn-warning"><i class="glyphicon glyphicon-share-alt"></i>返回</a>
	  </div>  -->
</section>
<section class="content-header">
<fieldset> 	
<legend>查询条件</legend>
<form id="searchbar" class="form-horizontal">
<div class="form-group">
	<input type="hidden" name="id" id="id" value="1" />
	<input type="hidden" name="orgUserId" id="orgUserId" th:value="${orgUserId}" />
	<input type="hidden" name="state" id="state" th:value="${state}" /> 
	<input type="hidden" name="isNull" id="isNull" th:value="${isNull}" /> 
	<input type="hidden" name="stateUnit" id="stateUnit" th:value="${stateUnit}" />
	
	<input type="hidden" name="isunit" id="isunit" th:value="${isunit}" />
	<label style="width:110px" class="col-sm-2 control-label"  for="dictCode">事件类型:</label>
	<div  class="col-sm-2">
	    	<select id="dictCode" name="dictCode" class="form-control tonto-select-constant" enumcode="event_type">
	           <option value="">请选择</option>
	      </select>
	 </div>
	 <label style="width:110px" class="col-sm-2 control-label" for="operationState" >操作状态:</label>
	 <div  class="col-sm-2">
    	<select id="operationState" name="operationState" class="form-control tonto-select-constant" enumcode="operation">
           <option value="">请选择</option>
      </select>
    </div>
    <label style="width:110px" class="col-sm-2 control-label" for="examineState">审核状态:</label>
     <div class="col-sm-2">
     <select id="examineState" name="examineState" class="form-control tonto-select-constant" enumcode="examine">
		  <option value="">请选择</option>
      </select>
    </div>
</div>
<div class="form-group">
	<label style="width:110px" class="col-sm-2 control-label" for="happenTime" >发生时间:</label>
    <div  class="col-sm-2">
    	<input type="text" id="datepicker1" name="happenTime" class="form-control tonto-datepicker-date" readonly="readonly" placeholder="请选择日期" />
    </div>
    <label style="width:110px" class="col-sm-2 control-label" for="endhappenTime" >至:</label>
    <div  class="col-sm-2">
    	<input type="text" id="datepicker2" name="endhappenTime" class="form-control tonto-datepicker-date" readonly="readonly" placeholder="请选择日期" />
    </div>
    
    <div class="col-sm-6" style="text-align:right">
        <a onclick="query()" class="btn btn-primary">查询</a>
        <button type="reset" class="btn">重置</button>
    </div>
    
</div>
</form>
</fieldset>
</section>
<div id="toolbar">       
        <div class="btn-group">
		    <a id="viewPeacet" onclick="viewPeacet()" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>查看</a>
		   	<a id="addPeacet" onclick="addPeacet()" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>新增</a>		 
		   	<a style="display: none;" id="addPeacet2" onclick="addPeacet2()" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>新增</a>	   
		    <a id="editPeacet" onclick="editPeacet()" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i>修改</a>
		    <a style="display: none;" id="editPeacet2" onclick="editPeacet2()" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i>修改</a>
		    <a style="display: none;" id="examinePeacet" onclick="examinePeacet()" class="btn btn-default"><i class="glyphicon glyphicon-list-alt"></i>审核</a>
		    <a id="removePeacet" onclick="removePeacet()" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i>删除</a>		
		     <a style="display: none;" id="removePeacet2" onclick="removePeacet2()" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i>删除</a>		    
		</div>
    </div>
<section class="content table-content">
    <table id="dataGrid"></table>
</section>


<div  th:include="console/footer"></div>
<script type="text/javascript">
		var table;
		var type;
		var typeunit;
		$table = $("#dataGrid");
		
		function query(){
			$("#dataGrid").bootstrapTable('destroy');
			$.getConstantEnum(["examine", "operation","event_type"], initDataGrid);
			
		}
		
		
		$(function () {
			
			typeunit=GetQueryString("typeunit");
			  type=GetQueryString("type");
				 if(type=="sjwh" || type=="ck"){
					$("#addPeacet").hide();
					$("#editPeacet").hide();
					$("#removePeacet").hide();
				} 
				 if(type=="sjwh"){
					 $("#examinePeacet").show();
					 $("#addPeacet2").show();
					 $("#editPeacet2").show();
					 $("#removePeacet2").show();
				 }
				 if(type=="ck"){
					 $("#addPeacet").hide();
					 $("#editPeacet").hide();
					 $("#removePeacet").hide();
				 }
				 
		    $.getConstantEnum(["examine", "operation","event_type"], initDataGrid);
			 
		});
		
		function initDataGrid(enumMap){
			table= $table.bootstrapTable({
		        height : tableModel.getHeight(),
		        idField : "id",
		        columns : [[
					{ radio:true },
		            {title: "事件类型", field: "dict_code" ,formatter: $.getEnumColumnFormatter(enumMap, "event_type")},
		            {title: "发生时间", field: "happen_time",sortable: true},
		            {title: "核定部门(人)", field: "check_people"},
		            {title: "操作状态", field: "operation_state",formatter: $.getEnumColumnFormatter(enumMap, "operation")},
		            {title: "审核状态", field: "examine_state",formatter: $.getEnumColumnFormatter(enumMap, "examine")},
		            {title: "审核人", field: "examine_people"}
		           
		        ]],
		        url : '/console/peacet/list',
		        queryParams: function(params){
		        	         var params = {
		        	         state:$("#state").val(),
		        	         isNull:$("#isNull").val(),
		        	         stateUnit:$("#stateUnit").val(),
		        	         orgUserId:$("#orgUserId").val(),
	       	        		 dictCode: $("#dictCode").val(),
	       	        		 happenTime: $("#datepicker1").val(),
	       	        		 endhappenTime: $("#datepicker2").val(),
	       	        		 operationState: $("#operationState").val(),
	       	        		 examineState: $("#examineState").val(),
		        			sort:params.sort,
		        			order:params.order,
		        			limit: params.limit,
		        			offset:params.offset,
		        	    }; 
		            return params;
		        },
		        responseHandler : function (res) {
		            return {
		                rows : res.result.pageInfo.list,
		                total : res.result.pageInfo.total
		            }
		        },
		        search : false,
		        sortName : 'create_time',
		        sortOrder : 'desc',
		        pagination : true,
		        sidePagination : 'server',
		        pageSize: 10,
		        pageList : [10,15, 20],
		        toolbar : "#toolbar",
		        showRefresh : true,
		        clickToSelect:true,
		        height:650,
		        showColumns:true
		    });
		}
		//<![CDATA[
				function addPeacet2(){
					layer.open({
			               type: 2,
			               title: ' ',
			               maxmin: true, //开启最大化最小化按钮
			               area: $.getOpenLayerSize(800, 660),
			               content: '/console/peacet/peac/input?orgUserId='+$("#orgUserId").val()+'&isunit='+$("#isunit").val(),
			                success: function(layero, index){
			            	 $.setLayerSubmitHandler(layero,index, function(){
			            			layer.close(index);
			            			$table.bootstrapTable('refresh', {url: '/console/peacet/list'});          		
			            	 },"保存成功");
			               } 
			           });
				}
			
			    function addPeacet(){
			    	layer.open({
			               type: 2,
			               title: ' ',
			               maxmin: true, //开启最大化最小化按钮
			               area: $.getOpenLayerSize(800, 660),
			               content: '/console/peacet/add/input',
			                success: function(layero, index){
			            	 $.setLayerSubmitHandler(layero,index, function(){
			            			layer.close(index);
			            			$table.bootstrapTable('refresh', {url: '/console/peacet/list'});          		
			            	 },"保存成功");
			               } 
			           });
			    }
	    
		    function editPeacet(){
		    	var row = getSelectRow();
		    	if(row){
		    		if (row.operation_state != 0 && row.operation_state != 1 && row.operation_state != 2 ) {
						$.errorMessage("已提交不能修改！");
					}else if( row.examine_state =="0"){ 
						$.errorMessage("已提交不能修改！");
					}else {
							layer.open({
								type : 2,
								title : ' ',
								maxmin : true, //开启最大化最小化按钮
								area: $.getOpenLayerSize(800, 660),
								content : '/console/peacet/edit/input?id=' + row.id,
								success : function(layero, index) {
									$.setLayerSubmitHandler(layero, index, function() {
										layer.close(index);
										$table.bootstrapTable('refresh', {
											url : '/console/peacet/list'
										});
									}, "修改成功");
								}
							});
						}
		    	}else{
		    		$.errorMessage("请选中一条业务数据");
		    	}
			
				}
		    
		    function editPeacet2(){
		    	var row = getSelectRow();
		    	if(row){
		    		if (row.operation_state != 0 && row.operation_state != 1 && row.operation_state != 2 ) {
						$.errorMessage("已提交不能修改！");
					}else {
							layer.open({
								type : 2,
								title : ' ',
								maxmin : true, //开启最大化最小化按钮
								area: $.getOpenLayerSize(800, 660),
								content : '/console/peacet/peac/edit?id=' + row.id+'&orgUserId='+$("#orgUserId").val()+'&isunit='+$("#isunit").val(),
								success : function(layero, index) {
									$.setLayerSubmitHandler(layero, index, function() {
										layer.close(index);
										$table.bootstrapTable('refresh', {
											url : '/console/peacet/list'
										});
									}, "修改成功");
								}
							});
						}
		    	}else{
		    		$.errorMessage("请选中一条业务数据");
		    	}
			
				}
	    
			function removePeacet() {
				var row = getSelectRow();
				if(row){
					if (row.operation_state != 0 && row.operation_state !=1 && row.operation_state != 2 ) {
						$.errorMessage("已提交不能删除！");
						return false;
						}
					if(row.examine_state =="0"){
						$.errorMessage("已提交不能删除！");
						return false;
					}
					layer.confirm('确定删除吗?', function() {
					$.getAjax('/console/peacet/delete?id=' + row.id, function() {
						$.successMessage("删除成功");
						$table.bootstrapTable('refresh', {
							url : '/console/peacet/list'
						});
					});
				});
				}else{
					$.errorMessage("请选中一条业务数据");
				}
				
		}
			
			function removePeacet2() {
				var row = getSelectRow();
				if(row){
					if (row.operation_state != 0 && row.operation_state !=1 && row.operation_state != 2 ) {
						$.errorMessage("已提交不能删除！");
						return false;
						}
					layer.confirm('确定删除吗?', function() {
					$.getAjax('/console/peacet/delete?id=' + row.id, function() {
						$.successMessage("删除成功");
						$table.bootstrapTable('refresh', {
							url : '/console/peacet/list'
						});
					});
				});
				}else{
					$.errorMessage("请选中一条业务数据");
				}
				
		}

			function viewPeacet() {
				var row = getSelectRow();
				if(row){
					layer.open({
						type : 2,
						title : ' ',
						maxmin : true, //开启最大化最小化按钮
						area: $.getOpenLayerSize(800, 660),
						content : '/console/peacet/view?id=' +row.id
					});
				}else{
					$.errorMessage("请选中一条业务数据");
				}
			}
	
	
			function examinePeacet() {
				var row = getSelectRow();
				if(row){
					if(typeunit=='unit'){
						if(row.operation_state== 5){
							$.errorMessage("机构已审核不能进行操作");
							return false;
						}
						layer.open({
							type : 2,
							title : ' ',
							maxmin : true, //开启最大化最小化按钮
							area: $.getOpenLayerSize(800, 700),
							content : '/console/peacedunit/view?id=' + row.id,
							success : function(layero, index) {
								$.setLayerSubmitHandler(layero, index, function() {
									layer.close(index);
									$table.bootstrapTable('refresh', {
										url : '/console/peacet/list'
									});
								}, "操作成功");
							}
						});
						
					}else{
						
						if( row.operation_state == 4 || row.operation_state == 5){
							$.errorMessage("已审核不能进行操作");
							return false;
						} 
						layer.open({
							type : 2,
							title : ' ',
							maxmin : true, //开启最大化最小化按钮
							area: $.getOpenLayerSize(800, 700),
							content : '/console/prize/view?id=' + row.id,
							success : function(layero, index) {
								$.setLayerSubmitHandler(layero, index, function() {
									layer.close(index);
									$table.bootstrapTable('refresh', {
										url : '/console/peacet/list'
									});
								}, "操作成功");
							}
						});
						
						
					} 
				}else{
					$.errorMessage("请选中一条业务数据");
				}
				
			}
			
    	function getSelectRow(){
    	var rows = $table.bootstrapTable('getSelections');
    	//var rows = table.getSelections();
		return rows.length>0?rows[0]:null;
    }
    	
    	// 关键词搜索框添加绑定回车函数
        $('body').bind('keypress', function(event) {
            if (event.keyCode == "13") {
            	query();
            }
        });
    	//]]> 
</script>
</body>
</html>