<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="/hf/header">
</head>

<body>
<div class="container">
    <tt:constant enumcode="unit-type" />
    <section class="content-header">
        <h1>单位科室维护管理</h1>
    </section>
    <section class="content">
        <div class="box box-solid">
            <div id="result" class="box-body">
                <table id="dataGrid"></table>
                <div id="toolbar">
                    <div class="btn-group">
                        <a onclick="addUnit()" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>添加单位</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    <div th:include="/hf/footer"></div>
    <script type="text/javascript" src="/static/js/treetable.js"></script>
    <script type="text/javascript">
    var table;
    var unitTypeMap;
    $(function() {
        initDataGrid();
    });

    function initDataGrid() {
        table = $.createTable("#dataGrid", {
            idField: "uid",
            columns: [
                [
                    { title: "单位名称", align: "left", field: "unitName", sortable: true },
                    { title: "单位类型", field: "unitType", sortable: true, enumcode: "unit-type" },
                    { title: "联系人", field: "contact" },
                    { title: "联系电话", field: "contactPhone" },
                    {
                        title: "操作",
                        align: "center",
                        width: "200px",
                        events: {
                            'click .detail': function(e, value, row, index) {
                                detail(row);
                            },
                            'click .add': function(e, value, row, index) {
                                addUnit(row);
                            },
                            'click .remove': function(e, value, row, index) {
                                removeUnit(row);
                            }
                        },
                        formatter: function(value, row, index) {
                            return '<button class="detail btn btn-xs btn-info" style="margin-right:10px"><i class="glyphicon glyphicon-edit"></i>详情</button>' +
                                '<button class="add btn btn-xs btn-success" style="margin-right:10px"><i class="glyphicon glyphicon-plus"></i>添加子项</button>' +
                                '<button class="remove btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i>删除</button>';

                        }
                    }
                ]
            ],
            url: '/org/unit/find',
            sortName: 'unitName',
            sortOrder: 'asc',
            pagination: false,
            toolbar: "#toolbar",
            showRefresh: true,
            pagination: false, //分页请设置为false
            treeView: true, //是否开启树视图
            treeId: "uid", //id字段
            treeParentFilter: true, //过滤掉父节点不正确的（置为空）
            treeParentField: "parentUnitId", //父ID字段
            treeField: "unitName", //展示树的字段
            clickToSelect: true,
            showColumns: true
        });
    }

    function addUnit(row) {
        var href = "/org/unit/add";
        if (row) {
            href += "?parentId=" + row.uid;
        }
        window.location = href;
    }

    function detail(row) {
        window.location = "/org/unit/detail?id=" + row.uid;
    }

    function removeUnit(row) {
        if (row) {
            layer.confirm('确定删除['+row.unitName+']吗?', function() {
                $.getAjax('/org/unit/delete?id=' + row.uid, function() {
                    $.successMessage("删除成功");
                    table.refresh();
                });
            });
        } else {
            $.errorMessage("请选中一条业务数据！");
        }
    }
    </script>
</body>

</html>