<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
<section class="content">
            <div class="box box-primary">
            	<input type="hidden" id="formType" class="tonto-form-type" th:value="${formType}" />
                <div class="box-header with-border" th:switch="${formType}">
                      <h3 th:case="'ADD'" class="box-title">添加单位信息</h3>
					  <h3 th:case="'VIEW'" class="box-title">查看单位详情</h3>
					  <h3 th:case="'EDIT'" class="box-title">修改单位信息</h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal tonto-form-validate" id="unitForm" action="/org/unit/save" method="post" th:object="${unit}">
                    
                        <input type="hidden" name="uid" id="uid" th:field="*{uid}" />
                        
                        <div class="form-group">
                            <label for="parentUnitId" class="col-sm-2 control-label">上级单位</label>
                            <div class="col-sm-8">
                            	<input type="text" class="form-control tonto-select-unit" name="parentUnitId" unit-callback="unitCallBack" th:attr="unitid=${parentUnitId}" placeholder="请选择上级单位"></input>
                            </div>
                        </div>
                       
                        <div class="form-group">
                            <label for="unitName" class="col-sm-2 control-label">单位名称</label>
                            <div class="col-sm-8">
                                <input type="text" name="unitName" class="form-control" id="unitName" required="true" maxlength="30" th:field="*{unitName}" placeholder="请输入单位名称" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="contact" class="col-sm-2 control-label">联系人</label>
                            <div class="col-sm-8">
                                <input type="text" name="contact" class="form-control" id="contact"  maxlength="20" th:field="*{contact}" placeholder="请输入联系人" />
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="contactPhone" class="col-sm-2 control-label">联系电话</label>
                            <div class="col-sm-8">
                                <input type="text" name="contactPhone" class="form-control" id="contactPhone" data-type="phone"  maxlength="20" th:field="*{contactPhone}" placeholder="请输入联系电话" />
                            </div>
                        </div>
                         
                        <!-- <div class="form-group">
                            <label for="unitDescription" class="col-sm-2 control-label">单位描述</label>
                            <div class="col-sm-8">
                                <textarea type="text" name="unitDescription" class="form-control" id="unitDescription" rows="3" maxlength="200" th:inline="text" placeholder="请输入单位描述" th:field="*{unitDescription}"></textarea>
                            </div>
                        </div> -->
                        
                        <div class="form-group">
                            <label for="unitType" class="col-sm-2 control-label">单位类型</label>
                            <div class="col-sm-8">
                        		<select name="unitType" id="unitType" class="form-control tonto-select-constant" required="true" enumcode="unit-type" th:attr="selectedvalue=${unit.unitType}">
                        		</select>     
                            </div>
                        </div>
                        
                        <div class="form-group" id="districtCodeDiv">
                            <label for="districtCode" class="col-sm-2 control-label">行政区域</label>
                            <div class="col-sm-8">
                        		<select name="districtCode" id="districtCode" class="form-control tonto-select-constant" enumcode="district-type" th:attr="selectedvalue=${unit.districtCode}">
                        			<option value="">请选择</option>
                        		</select>     
                            </div>
                        </div>
                                                   
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-2">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                        
                    </form>
                </div>
    </div>
</section>
 <script type="text/javascript">	
	 /*<![CDATA[*/
	 var unitCallBack = function(data){
		 if(data) {
			 $("#districtCodeDiv").hide();
			 $("#districtCode").attr("disabled","disabled");
		 } else {
			 $("#districtCodeDiv").show();
			 $("#districtCode").attr("disabled", null);
		 }
			 
	 }
	 /*]]>*/
 </script>
<div th:include="console/footer"></div>

</body>
</html>