<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="console/header">
</head>

<body>
    <section class="content-header">
        <h1>单位管理</h1>
    </section>
<!--     <section class="content-header">
        <fieldset>
            <legend>查询条件</legend>
            <form id="searchbar" class="form-horizontal">
                <div  class="form-group">
                    <label style="width: 95px" for="unitName" class="col-sm-2 control-label">单位名称:</label>
                    <div class="col-sm-2">
                        <input type="text" name="unitName" class="form-control" id="unitName" />
                    </div>
                    <div style="text-align: right" class="col-sm-9">
                        <a onclick="query()" class="btn btn-primary">查询</a>
                        <button type="reset" class="btn">重置</button>
                    </div>
                </div>
            </form>
            </fieldset>
    </section> -->
    <section class="content table-content">
        <table id="dataGrid"></table>
    </section>
    <div id="toolbar">
        <div class="btn-group">
	        <a onclick="addUnit()" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>添加单位</a>
	        <a onclick="addChildUnit()" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i>添加子项</a>
	        <a onclick="viewUnit()" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>查看</a>
	        <a onclick="editUnit()" class="btn btn-default"><i class="glyphicon glyphicon-edit"></i>修改</a>
	        <a onclick="removeUnit()" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i>删除</a>
        </div>
    </div>
    <div th:include="console/footer"></div>
    <script type="text/javascript" src="/static/js/treetable.js"></script>
    <script type="text/javascript">
    var table;
    var unitTypeMap;
    $(function() {
        $.getConstantEnum(["unit-type","district-type"], initDataGrid);
    });

    function initDataGrid(enumMap) {
	
    	//var enumFormat = $.getEnumColumnFormatter(enumMap,"unit-type");
    	
    	
        table = $.createTable("#dataGrid", {
            idField: "uid",
            columns: [
                [
                    {radio:true},
                    { title: "单位名称", field: "unitName", sortable: true },
                    { title: "单位类型", field: "unitType", sortable: true, formatter: $.getEnumColumnFormatter(enumMap,"unit-type")},
                    //{ title: "行政区域", field: "districtCode", formatter: $.getEnumColumnFormatter(enumMap,"district-type")},   
                    { title: "联系人", field: "contact" },
                    { title: "联系电话", field: "contactPhone" }
                ]
            ],
            url: '/org/unit/search/all',
           // searchbar: '#searchbar',
            sortName: 'unitName',
            sortOrder: 'asc',
            pagination: false,
            toolbar: "#toolbar",
            showRefresh: true,
            pagination: false, //分页请设置为false
            treeView: true, //是否开启树视图
            treeId: "uid", //id字段
            treeParentFilter: true, //过滤掉父节点不正确的（置为空）
            treeParentField: "parentUnitId", //父ID字段
            treeField: "unitName", //展示树的字段
            clickToSelect:true,
            showColumns:true
        });
    }

    function addChildUnit() {
    	var row = getSelectRow();
    	//var id = row.uid;
    	if (row) {
    		layer.open({
                type: 2,
                title: ' ',
                maxmin: true, //开启最大化最小化按钮
                area: $.getOpenLayerSize(),
                content: '/org/unit/add/input' + (row.uid ? "?parentId=" + row.uid : ""),
                success: function(layero, index) {
                    $.setLayerSubmitHandler(layero, index, function() {
                        layer.close(index);
                        table.refresh();
                    }, "保存成功");
                }
            });
		} else {
			$.errorMessage("请选中一条业务数据！");
		}
        
    }
    
    function addUnit() {
            layer.open({
                type: 2,
                title: ' ',
                maxmin: true, //开启最大化最小化按钮
                area: $.getOpenLayerSize(),
                content: '/org/unit/add/input',
                success: function(layero, index) {
                    $.setLayerSubmitHandler(layero, index, function() {
                        layer.close(index);
                        table.refresh();
                    }, "保存成功");
                }
            });
    }
    

    function editUnit() {
    	var row = getSelectRow();
    	if (row) {
    		layer.open({
                type: 2,
                title: ' ',
                maxmin: true, //开启最大化最小化按钮
                area: $.getOpenLayerSize(),
                content: '/org/unit/edit/input?id=' + row.uid,
                success: function(layero, index) {
                    $.setLayerSubmitHandler(layero, index, function() {
                        layer.close(index);
                        table.refresh();
                    }, "修改成功");
                }
            });
		} else {
			$.errorMessage("请选中一条业务数据！");
		}
        
    }

    function removeUnit() {
    	var row = getSelectRow();
    	if (row) {
    		layer.confirm('确定删除吗?', function() {
                $.getAjax('/org/unit/delete?id=' + row.uid, function() {
                    $.successMessage("删除成功");
                    table.refresh();
                });
            });
		} else {
			$.errorMessage("请选中一条业务数据！");
		}
        
    }

    function viewUnit() {
    	var row = getSelectRow();
    	if (row) {
    		layer.open({
                type: 2,
                title: ' ',
                maxmin: true, //开启最大化最小化按钮
                area: $.getOpenLayerSize(),
                content: '/org/unit/view?id=' + row.uid
            });	
		} else {
			$.errorMessage("请选中一条业务数据！");
		}
        
    }

    function query() {
        table.refresh();
    }
    
    function getSelectRow() {
        var rows = table.getSelections();
        return rows.length>0?rows[0]:null;
    }
    
    $('body').bind('keypress',function (event){
        if(event.keyCode == '13'){
            query();
        }
    });
    
    </script>
</body>

</html>