<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro 
      ">
<head th:include="console/header">
</head>
<body>
<section class="content-header">
    <h1>科室管理</h1>
    <small style="font-size:16px">列表管理</small>
</section>

<section class="content-header">
<div style="border: 1px #ddd solid;" class="box-body">
<div class="form-group">
	<label style="line-height: 36px" for="depTypeId" class="col-sm-1 control-label">科室类别:</label>
     <div style="width: 13.666667%" class="col-sm-2">
      <select id="depTypeId" name="depTypeId" class="form-control">
           <option value="">请选择</option>
           <option th:each="dic,dictsStat:${dicts}"  th:text="${dic.dictName}" th:value="${dic.id}"></option>
      </select>
    </div>
	<label style="line-height: 36px" for="depName" class="col-sm-1 control-label">科室名称:</label>
     <div style="width: 13.666667%" class="col-sm-2">
    	<input type="text" name="depName" class="form-control" id="depName"/>
    </div>
	<div class="col-sm-1">
    <a onclick="query()" class="btn btn-primary">查询</a>
    </div>

</div>
</div>
</section>

<section class="content table-content">
    <table id="dataGrid"></table>
</section>
<div id="toolbar">
    <a shiro:hasPermission="depart:save" href="/console/depart/from" class="btn btn-primary" >添加科室</a>
</div>

<div id='info' style = "display : none">       
<ul id="info2" class="list-group"></ul>
</div>
<div th:include="console/footer"></div>
<script type="text/javascript">
    $table = $("#dataGrid");
    $(function () {
        initDataGrid();
    });
    
    function query(){
    	$("#dataGrid").bootstrapTable('destroy')
    	initDataGrid();
    }
    function initDataGrid(){
        $table.bootstrapTable({
            height : tableModel.getHeight(),
            idField : "id",
            columns: [[
                {title: "科室类别", field: "dict.dictName"},
                {title: "科室名称", field: "depName"},
                {title: "联系人", field: "contacts"},
                {title: "科联系方式", field: "contPhone"},
                {title: "操作", field: "operate", align: 'center', events: operateEvents, formatter: operateFormatter}
            ]],
            url: '/console/depart/list',
            queryParams: function(params){
            	var params = {
            			depTypeId:$("#depTypeId").val(),
            			depName: $("#depName").val(),
	        			limit: params.limit,
	        			offset:params.offset,
	        	    }; 
            	return params;
            },
            responseHandler : function (res) {
                return {
                    rows : res.result.pageInfo.list,
                    total : res.result.pageInfo.total
                }
            },
            search : false,
            sortName : 'createTime',
            sortOrder : 'asc',
            pagination : true,
            sidePagination : 'server',
            pageSize: 5,
	        pageList : [5,10,15],
            toolbar : "#toolbar",
            showRefresh : true,
            showToggle : true
        });
    }

    function operateFormatter(value, row, index) {
        return [
			'<a shiro:hasPermission="depart:info" class="see" href="javascript:void(0);" >',
			'<i class="glyphicon glyphicon-edit"></i>查看详情',
			'</a>  ', 
            '<a shiro:hasPermission="depart:save" href="/console/depart/from?id='+row.id+'" >',
            '<i class="glyphicon glyphicon-edit"></i>修改',
            '</a>  ',
            '<a shiro:hasPermission="depart:delete" class="remove" href="javascript:void(0);">',
            '<i class="glyphicon glyphicon-remove"></i>删除',
            '</a>'
        ].join('');
    }

    window.operateEvents = {
        'click .remove' : function (e, value, row, index) {
            operaModel.delRow(row.id, '/console/depart/delete?id='+row.id, 'id');
        },
        'click .see' : function (e, value, row, index) {
        	$.get('/console/depart/info', {'id':row.id}, function(str){
        		 $("#info2").html(
        				'<li class="list-group-item"><strong>科室类别:</strong>'+str.result.info.dict.dictName+'</li>'+
        				'<li class="list-group-item"><strong>科室名称:</strong>'+str.result.info.depName+'</li>'+
        				'<li class="list-group-item"><strong>联  系  人:</strong>'+str.result.info.contacts+'</li>'+
        				'<li class="list-group-item"><strong>联系方式:</strong>'+str.result.info.contPhone+'</li>'); 
        		  layer.open({
        		    type: 1,
        		    title: '科室详情',
        		    shadeClose: true,
                    shade: false,
                    area: $.getOpenLayerSize(700, 300),
        		    content:$("#info").html()
        		  });
        		});
        }
    };

</script>
</body>
</html>