<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="console/header">
</head>

<body>
<div class="container">
    <section class="content">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">评价信息</h3>
                    </div>
                    <div class="box-body">
                        <form class="form-horizontal" th:object="${perCycAss}">
                            <fieldset>
                                <legend>考评周期</legend>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">考评周期：</label>
                                    <div class="col-sm-2">
                                        <p class="form-control-static" th:text="*{assessCycName}" />
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>本年度医德医风工作总结</legend>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">工作总结：</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" rows="6" style="resize: none;" th:field="*{workSummary}" readonly="readonly"></textarea>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>自评意见</legend>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">自评意见：</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" rows="3" style="resize: none;" th:field="*{selfAssOpinion}" readonly="readonly"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">自评等次：</label>
                                    <div class="col-sm-3">
                                        <p class="form-control-static" id="selfAssGrade" th:attr="enum-code-value=${perCycAss.selfAssGrade}" />
                                    </div>
                                    <label class="col-sm-2 control-label">自评签字：</label>
                                    <div class="col-sm-3">
                                        <p class="form-control-static" th:text="*{assessedSign}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">自评时间：</label>
                                    <div class="col-sm-3">
                                        <p class="form-control-static" th:text="*{selfAssTime}" />
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>科室（病区）意见</legend>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">科室（病区）意见：</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" rows="3" style="resize: none;" th:field="*{departOpinion}" readonly="readonly"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">考评等次：</label>
                                    <div class="col-sm-3">
                                        <p class="form-control-static" id="departGrade" th:attr="enum-code-value=${perCycAss.departGrade}" />
                                    </div>
                                    <label class="col-sm-2 control-label">科室签字：</label>
                                    <div class="col-sm-3">
                                        <p class="form-control-static" th:text="*{depAssessorSign}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">考评时间：</label>
                                    <div class="col-sm-3">
                                        <p class="form-control-static" th:text="*{departAssTime}" />
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>考评领导小组评价意见</legend>
                                <div class="form-group">
                                    <label for="unitGroupOpinion" class="col-sm-2 control-label">考评领导小组评价意见：</label>
                                    <div class="col-sm-8">
                                        <textarea class="form-control" rows="3" style="resize: none;" th:field="*{unitGroupOpinion}" readonly="readonly"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">考评等次：</label>
                                    <div class="col-sm-3">
                                        <p class="form-control-static" id="unitAssGrade" th:attr="enum-code-value=${perCycAss.unitAssGrade}" />
                                    </div>
                                    <label class="col-sm-2 control-label">小组签字：</label>
                                    <div class="col-sm-3">
                                        <p class="form-control-static" th:text="*{unitAssessorSign}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="unitAssTime" class="col-sm-2 control-label">考评时间：</label>
                                    <div class="col-sm-3">
                                        <p class="form-control-static" th:text="*{unitAssTime}" />
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>被考核人对考评等次的确认</legend>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">被考核人对考评等次的确认：</label>
                                    <div class="col-sm-3">
                                        <p class="form-control-static" id="confirmedResult" th:attr="enum-code-value=${perCycAss.confirmedResult}" />
                                    </div>
                                    <label for="assessedConfirmSign" class="col-sm-2 control-label">自评确认签字：</label>
                                    <div class="col-sm-3">
                                        <p class="form-control-static" th:text="*{assessedConfirmSign}" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirmedTime" class="col-sm-2 control-label">确认时间：</label>
                                    <div class="col-sm-3">
                                        <p class="form-control-static" th:text="*{confirmedTime}" />
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
    </section>
    </div>
    <div th:include="console/footer"></div>
    <script type="text/javascript">
    $(function() {
        $.getConstantEnum([
            { code: "ass-grades", type: 'p', target: '#selfAssGrade' },
            { code: "ass-grades", type: 'p', target: '#departGrade' },
            { code: "ass-grades", type: 'p', target: '#unitAssGrade' }
        ]);
    });
    </script>
</body>

</html>