<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.hf.mapper.ordinary.PrizepunishMapper">

<sql id="prize">
	SELECT
			p.id AS id,
			p.org_user_id AS orgUserId,
			p.dict_code AS dictCode,
			p.happen_time AS happenTime,
			p.content AS content,
			p.place AS place,
			p.checks AS checks,
			p.check_people AS checkPeople,
			p.operation_state AS operationState,
			p.examine_state AS examineState,
			p.examine_people AS examinePeople,
			p.remarks AS remarks,
			u.name AS name
		FROM
			prizepunish AS p
		LEFT JOIN org_user AS u ON p.org_user_id = u.id
</sql>

<!-- 查询个人的奖惩记录 -->
 <select id="selectPrizePeople" resultType="com.paladin.hf.service.ordinary.vo.PrizepunishVO">

	<include refid="prize"/>

	where p.org_user_id =#{orgUserId} and p.operation_state not in (1,2)
	
	<if test="dictCode !=null and dictCode !='' ">
	 	and p.dict_code = #{dictCode}  
	</if> 
	
	 <if test="operationState !=null and operationState !='' or operationState == 0 ">
	 	and p.operation_state = #{operationState} 
	 </if> 
	 
	 <if test="examineState !=null and examineState !='' or examineState == 0 ">
	 	and p.examine_state = #{examineState} 
	 </if> 
	 
	 <if test="startHappenTime !=null and startHappenTime !='' ">
	 	and happen_time <![CDATA[>=]]> #{startHappenTime} 
	 </if>
	 
	 <if test="endhappenTime !=null and endhappenTime !='' ">
	 	and happen_time <![CDATA[<=]]> #{endhappenTime} 
	 </if>
	 ORDER BY p.happen_time desc, p.create_time desc

</select> 

<!-- 科室查询某个人的奖惩记录 -->
<select id="selectPrizeDept" resultType="com.paladin.hf.service.ordinary.vo.PrizepunishVO">

	<include refid="prize"/>
	
	WHERE  p.org_user_id = #{orgUserId} and p.operation_state not in (0,2)
	
	<if test="dictCode !=null and dictCode !='' ">
	 	and p.dict_code = #{dictCode}  
	</if> 
	
	 <if test="operationState !=null and operationState !='' or operationState == 0 ">
	 	and p.operation_state = #{operationState} 
	 </if> 
	 
	 <if test="examineState !=null and examineState !='' or examineState == 0 ">
	 	and p.examine_state = #{examineState} 
	 </if> 
	 
	 <if test="startHappenTime !=null and startHappenTime !='' ">
	 	and happen_time <![CDATA[>=]]> #{startHappenTime} 
	 </if>
	 
	 <if test="endhappenTime !=null and endhappenTime !='' ">
	 	and happen_time <![CDATA[<=]]> #{endhappenTime} 
	 </if>
	 ORDER BY p.happen_time desc, p.create_time desc
</select>

<!-- 机构查询某个人的奖惩记录 -->
<select id="selectPrizeUnit" resultType="com.paladin.hf.service.ordinary.vo.PrizepunishVO">

	<include refid="prize"/>
	
	WHERE  p.org_user_id = #{orgUserId} and p.operation_state in (2,4,5)
	
	<if test="dictCode !=null and dictCode !='' ">
	 	and p.dict_code = #{dictCode}  
	</if> 
	
	 <if test="operationState !=null and operationState !='' or operationState == 0 ">
	 	and p.operation_state = #{operationState} 
	 </if> 
	 
	 <if test="examineState !=null and examineState !='' or examineState == 0 ">
	 	and p.examine_state = #{examineState} 
	 </if> 
	 
	 <if test="startHappenTime !=null and startHappenTime !='' ">
	 	and happen_time <![CDATA[>=]]> #{startHappenTime} 
	 </if>
	 
	 <if test="endhappenTime !=null and endhappenTime !='' ">
	 	and happen_time <![CDATA[<=]]> #{endhappenTime} 
	 </if>
	 ORDER BY p.happen_time desc, p.create_time desc
</select>

</mapper>