<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netmatch.mapper.reportanalysis.EvaluationDetailedMapper">
  
  <select id="personcycassessDetaileds" resultType="com.netmatch.controller.reportanalysis.pojo.PersoncycassessDetailed">
  	
		SELECT 
		cy.id,
		cy.unit_id AS unitId,
		cy.agency_id AS agencyId,
		os.name,
		cy.org_user_id AS orgUserId,
		cy.assess_cycle_id AS assesscycleId,
		cy.unit_ass_grade AS unitassGrade,
		cy.operate_state AS operateState 
		FROM `person_cyc_assess` AS cy 
		LEFT JOIN `org_user` AS os ON cy.org_user_id =os.id
		where 1=1 and cy.operate_state IN(5,6) 
		
		<if test="unitId !=null and unitId != '' ">
		 and cy.agency_id=#{unitId} 
		</if>
		
		<if test="assGrade !=null and assGrade != '' ">
		 and cy.unit_ass_grade=#{assGrade} 
		</if>
		
		<if test="assessCycleId !=null and assessCycleId !='' ">
		 and cy.assess_cycle_id =#{assessCycleId}
		</if>
  
  </select> 
  
</mapper>