<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netmatch.mapper.reportanalysis.EvaluationSituationMapper">
    <resultMap id="BaseResultMap" type="com.netmatch.model.organization.OrgUnit">
    <id column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="unit_description" jdbcType="VARCHAR" property="unitDescription" />
    <result column="parent_unit_id" jdbcType="VARCHAR" property="parentUnitId" />
    <result column="unit_type" jdbcType="VARCHAR" property="unitType" />
    <result column="district_code" jdbcType="VARCHAR" property="districtCode" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contactPhone" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  
  <resultMap type="com.netmatch.controller.reportanalysis.pojo.UserVo" id="UserTotal">
  	<id column="org_unit_id" jdbcType="VARCHAR" property="orgUnitId" />
    <result column="total" jdbcType="INTEGER" property="total" />
    <result column="parent_unit_id" jdbcType="VARCHAR" property="parentUnitTd" />
    <result column="notEvaluation" jdbcType="INTEGER" property="notEvaluation" />
    <result column="unit_id" jdbcType="VARCHAR" property="unitId" />
     <result column="agency_id" jdbcType="VARCHAR" property="agencyId" />
  </resultMap>
  
    <resultMap type="com.netmatch.controller.reportanalysis.pojo.PersoncycassessVo" id="Personcycassess">
  	<id column="id" jdbcType="VARCHAR" property="id" />
    <result column="agency_id" jdbcType="VARCHAR" property="agencyId" />
    <result column="unit_ass_grade" jdbcType="VARCHAR" property="unitassgrade" />
    <result column="gradeCount" jdbcType="VARCHAR" property="gradeCount" />
  </resultMap>
  
  <!--  查询所有单位 -->       
  <select id="unitParentAll" parameterType="com.netmatch.model.organization.OrgUnit" resultMap="BaseResultMap">
	SELECT * FROM `org_unit` WHERE parent_unit_id IS NULL
	<if test="unitId != null and unitId !='' ">
	 and uid=#{unitId} 
	</if>
  </select>
  
 <!--  查询每个单位下的人数 -->
  <select id="usertotal" parameterType="com.netmatch.controller.reportanalysis.pojo.UserVo" resultMap="UserTotal">
  SELECT COUNT(0) AS total,org_agency_id AS agencyId FROM org_user WHERE is_admin=0  
    <if test="unitId != null and unitId !='' ">
	and org_agency_id=#{unitId} 
	</if>
   GROUP BY org_agency_id
  </select>
  
  <!-- 查询已考评人数 -->
  <select id="notEvaluationCount" parameterType="com.netmatch.controller.reportanalysis.pojo.UserVo" resultMap="UserTotal">   
		SELECT 
		  t.*,
		  COUNT(*) AS notEvaluation 
		FROM
		  (SELECT 
		    a.agency_id,
		    a.org_user_id 
		  FROM
		    `person_cyc_assess` AS a 
		    LEFT JOIN org_user b 
		      ON a.org_user_id = b.id 
		  WHERE 1 = 1 
		  <if test="unitId != null and unitId !='' ">
		    AND a.agency_id =#{unitId} 
		   </if>
		    <if test=" assessCycleId != null and assessCycleId !='' ">
		    AND a.assess_cycle_id = #{assessCycleId} 
		    </if>
		    AND a.unit_ass_grade IS NOT NULL 
		    AND a.agency_id = b.org_agency_id 
		  GROUP BY a.org_user_id) AS t 
		GROUP BY t.agency_id 
  </select>
  
  <!-- 查询每个单位下考评等次的数量 -->
  <select id="personcycassessId" parameterType="com.netmatch.controller.reportanalysis.pojo.PersoncycassessVo" resultMap="Personcycassess">
  SELECT *,COUNT(*) AS gradeCount FROM `person_cyc_assess` as a LEFT JOIN org_user b  ON a.org_user_id = b.id
   WHERE a.agency_id=#{aggencyId} and a.agency_id = b.org_agency_id 
  	  <if test=" assessCycleId != null and assessCycleId !='' ">
	 and  a.assess_cycle_id=#{assessCycleId}	
	</if>  
   GROUP BY a.unit_ass_grade
  </select>

</mapper>