<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netmatch.mapper.reportanalysis.PrizeCountQueryMapper">

  <select id="prizeCountQueryAll" resultType="com.netmatch.model.personcyc.PrizeCountQueryVo">
		SELECT
		  COUNT(0) AS count,
		  d.dict_name as dictName,
		  u.`org_agency_id`,
		  u.`org_unit_id` 
		FROM
		  `prizepunish` AS p 
		  LEFT JOIN dict AS d 
		    ON p.dict_code = d.sort 
		  LEFT JOIN org_user AS u
		  ON p.org_user_id=u.id
		WHERE d.dict_code = 'SJLX' 
		  AND d.status = 0 
	 	 AND ( p.`operation_state`='5' OR p.`operation_state`='4') 	  	 
	 <if test="unitParam.unitId!=null">
		        and u.org_unit_id=#{unitParam.unitId}
    </if>
    
    	<if test="unitParam.assessTeamId!=null">
		        and u.org_assess_team_id=#{unitParam.assessTeamId}
	    </if>
    
	<if test="unitParam.unitIds!=null">
           and u.org_unit_id in 
           <foreach collection="unitParam.unitIds" index="index" item="item" open="(" separator="," close=")">  
               #{item}  
           </foreach> 
       </if>          
       
     <if test="unitParam.agencyId!=null">
	        and u.org_agency_id=#{unitParam.agencyId}
    </if>
	<if test="unitParam.agencyIds!=null">
           and u.org_assess_team_id in 
           <foreach collection="unitParam.agencyIds" index="index" item="item" open="(" separator="," close=")">  
               #{item}  
           </foreach> 
     </if>
     	
 	<if test="param.dictCode != null and param.dictCode !='' ">
	 and p.dict_code=#{param.dictCode} 	
	</if> 
	
	 GROUP BY p.dict_code 
	
  </select>
</mapper>