<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
<div class="container">
<section class="content">
            <div class="box box-primary">
            <div class="box-header with-border" th:switch="${formType}">
                      <h3 th:case="'ADD'" class="box-title">添加奖惩事件</h3>
                      <h3 th:case="'VIEW'" class="box-title">查看奖惩详情</h3>
                      <h3 th:case="'EDIT'" class="box-title">修改奖惩信息</h3>
                </div>
            	<input type="hidden" id="formType" class="tonto-form-type" th:value="${formType}" />
                
                <div class="box-body">
                    <form id="unitForm" class="form-horizontal tonto-form-validate" action="/console/peacet/peac/save" method="post" enctype="multipart/form-data">
                       <input type="hidden" name="id" id="id" th:value="${prize.id}" />
                       <input type="hidden" name="orgUserId" id="orgUserId" th:value="${orgUserId}" />
                       <input type="hidden" name="isunit" id="isunit" th:value="${isunit}" />
                        <div class="form-group">
                        	<label class="col-sm-2 control-label">事件类型</label>
                       		<div class="col-sm-4" style="margin-bottom: 10px;">
                                <select required="required" id="dictCode" name="dictCode" class="form-control tonto-select-constant" enumcode="event_type" th:attr="selectedvalue=${prize.dictCode}">
						           <option value="">请选择</option>
						      </select>
                        	</div>
                        	
                         	<label class="col-sm-2 control-label">发生时间</label>
                       		<div class="col-sm-4" >
                                 <input required="required"  type="text" id="datepicker1" name="happenTime" class="form-control tonto-datepicker-date" readonly="readonly" th:value="${prize.happenTime}" placeholder="请选择日期" />
                        	</div>
                        </div>	
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">内容</label>
                            <div class="col-sm-10">
                                <textarea  name="content" class="form-control" rows="8" style="resize: none;" th:text="${prize.content}" ></textarea>
                            </div>
                        </div>
                        
                        
                        <div class="form-group" >
                            <label for="content" class="col-sm-2 control-label">上传方式</label>
                            <div class="col-sm-2">
                            <select id="selectxz" class="form-control" onchange="select()">
                           <option value="0" th:selected="${imageType eq '0'}">附件</option>
                           <option value="1" th:selected="${imageType eq '1'}">图片</option>
                           </select> 
                           
                            </div>
                            <div class="col-sm-4">
                            <input id="imageAll" style="border: none; "  name="isfile" multiple="multiple" type="file"  class="form-control"/> 
                            </div>
                            <div class="col-sm-2">
                            <button type="button" onclick="clean()" class="btn btn-default">清除</button> 
                            </div>
                        </div>
                        
                         <div  class="form-group"   >
                           <label id="dpyl" for="content" class="col-sm-2 control-label">图片预览</label>  
                           <label th:if="${formType} !='ADD' " id="wjyl" for="content" class="col-sm-2 control-label">文件预览</label>
					         <div class="col-sm-10" id="imagewj" style="display: none;">
					          <input type="hidden" style="display: none" class="filess" name="filess"  th:value="${imageType}"/> 
					         <span  th:id = "${image.imgName}" style="cursor:pointer" th:if="${formType !='ADD'}" th:each="image : ${images}" class="img-thumbnail" th:text="${image.imgFileName}" ></span> 
							</div>
							
							<div  class="col-sm-10" id="imagetb" style="display: none;">
					         <img  th:if="${formType} !='ADD' " th:each="image : ${images}"  width="180px" class="img-thumbnail" alt="" th:src="(${basePath})+(${image.prizeId})+'/'+(${image.imgName})" /> 
					         
					         </div>
                         </div>
                                                                          
                        <div class="form-group">
                            <label for="place" class="col-sm-2 control-label">地点</label>
                            <div class="col-sm-10">
                                 <input type="text" name="place" class="form-control" id="place" th:value="${prize.place}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="check" class="col-sm-2 control-label">考核情况</label>
                            <div class="col-sm-10">
                                <input type="text" name="checks" class="form-control" id="checks" th:value="${prize.checks}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="checkPeople" class="col-sm-2 control-label">核定部门(人)</label>
                            <div class="col-sm-5">
                            <input type="text" name="checkPeople" class="form-control" id="checkPeople"  th:value="${prize.checkPeople}"/>
                            </div>
                        </div>
                        <div th:switch="${formType}">
                        <div  th:case="'VIEW'">
	                        <div class="form-group">
	                            <label for="operationState" class="col-sm-2 control-label">操作状态</label>
	                            <div class="col-sm-4">
	                            <select name="operationState" class="form-control tonto-select-constant" required="required" enumcode="operation" th:attr="selectedvalue=${prize.operationState}"></select>
	                            </div>
	                             <label for="examineState" class="col-sm-2 control-label">审核状态</label>
	                            <div class="col-sm-4">
	                             <select name="examineState" class="form-control tonto-select-constant" required="required" enumcode="examine" th:attr="selectedvalue=${prize.examineState}">
	                             <option></option>
	                             </select>
	                            </div>
	                        </div>
	                        <div class="form-group">
                            <label for="examinePeople" class="col-sm-2 control-label">审核人</label>
                            <div class="col-sm-10">
                            <input type="text" name="examinePeople" class="form-control" id="examinePeople"  th:value="${prize.examinePeople}"/>
                            </div>
                           </div> 
                        </div>
                        
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-3">
                                <button type="button" onclick="submitEvent()" class="btn btn-primary" value="提交">提交</button>                                
                                <button name="submitname" id="submitButton" type="submit" style="display:none" class="btn btn-primary" value="提交">提交</button>
                                <button name="submitname" type="submit" class="btn btn-default" value="暂存">暂存</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
</section>
</div>



<div th:include="console/footer"></div>
</body>
<script type="text/javascript">
//<![CDATA[
	$(function(){
		select();
		if($("#formType").val() =='ADD'){
			FormatDate(new Date());
		}
		if ($("#formType").val() == 'VIEW') {
			document.getElementById("imageAll").disabled = "disabled";
		} 
		
		$("#imageAll").change(function(){
			var xz=$("#selectxz").val();
			if(xz == "1"){
				setImagePreviews();
			}
			if(xz == "0"){
				setFilePreviews();
				
			}
		});
		
		
		$(function(){
		    $("#imagewj").click(function (e) {
		    	var id=$("#id").val();
		        var name=$(e.target).attr('id');
		        window.location.href="/console/peacet/download?name="+name+"&id="+id+"&prizName="+$(e.target).text();
		    })
		})
		
	})
	
	//时间文本框默认当前时间
	function FormatDate (strTime) {
	    var date = new Date(strTime);
	    var date2= date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate();
	    $("#datepicker1").val(date2);
	}

	
	
  	function select(){
  		var xz=$("#selectxz").val();
		if(xz=="1"){
			$("#imageAll").val(""); 
			$("#imagetb").show();
			$("#dpyl").show();
			$("#imagewj").hide();
			$("#wjyl").hide();
			document.getElementById("imagetb").style.display = "block";
			
		}
		if(xz=="0"){	
			$("#wjyl").show();
			$("#imageAll").val(""); 
			$("#imagetb").hide();
			$("#dpyl").hide();
			$("#imagewj").show();
		}
	} 
	
	
	function setFilePreviews(){
		 var docObj = document.getElementById("imageAll");
		var fileList = docObj.files;
		var ff = $("#imageAll").val();
        if (fileList && fileList.length > 5) {
        	$.errorMessage("上传文件的数量不能大于5个");
        	$("#imageAll").val(""); 
        	return false; 
        } 
        $(" input[ name='filess' ] ").val("")
	}
	
	
	function setImagePreviews(){
		
	$(" input[ name='filess' ] ").val("")
		var docObj = document.getElementById("imageAll");
		var dd = document.getElementById("imagetb");
		dd.innerHTML = "";
		var fileList = docObj.files;
		var ff = $("#imageAll").val();
		if (!/.(gif|jpg|jpeg|png|gif|jpg|png)$/.test(ff)) {
			$.errorMessage("图片类型必须是.gif,jpeg,jpg,png中的一种");
			$("#imageAll").val("");
			return false;
		}
		if (fileList && fileList.length > 5) {
			$.errorMessage("上传图片的数量不能大于5张");
			$("#imageAll").val("");
			return false;
		}
		
	$("#imagetb").show();
		for (var i = 0; i < fileList.length; i++) {
			dd.innerHTML += "<img width='180px;' id='img" + i + "' class='img-thumbnail' />";
			var imgObjPreview = document.getElementById("img" + i);
			if (docObj.files && docObj.files[i]) {
				imgObjPreview.src = window.URL.createObjectURL(docObj.files[i]);
			} else {
				try {
					localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale)";
					localImagId.filters
							.item("DXImageTransform.Microsoft.AlphaImageLoader").src = imgSrc;
				} catch (e) {
					alert("您上传的图片格式不正确，请重新选择!");
					return false;
				}
				imgObjPreview.style.display = 'none';
				document.selection.empty();
			}
		}

		return true;
	}

	function submitEvent() {
		layer.confirm('提交后无法修改，确定提交吗？', function() {
			$("#submitButton").click();
		});

	}

	function clean() {
		$("#imageAll").val("");
		$("#imagetb").html("");
	}

	//]]>
</script>
</html>