<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
<section class="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-primary">
                <div class="box-header with-border" >
                      <h3  class="box-title">奖惩事件信息</h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal tonto-form-validate" action="/console/prize/update" method="post">
                       <input type="hidden" name="id" id="id" th:value="${prize.id}" />
                        <div class="form-group">
                        	<label class="col-sm-2 control-label">事件类型</label>
                       		<div class="col-sm-4" style="margin-bottom: 10px;">
						      <select disabled="disabled" readonly="readonly" id="dictCode" name="dictCode" class="form-control tonto-select-constant" enumcode="event_type" th:attr="selectedvalue=${prize.dictCode}">
						           <option value="">请选择</option>
						      </select>
                        	</div>
                         	<label class="col-sm-2 control-label">发生时间</label>
                       		<div class="col-sm-4" >
                                 <input required="required"  type="text"  name="happenTime" class="form-control" readonly="readonly" th:value="${prize.happenTime}" placeholder="请选择日期" />
                        	</div>
                        </div>	
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">内容</label>
                            <div class="col-sm-10">
                                <textarea readonly="readonly"  name="content" class="form-control" rows="8" style="resize: none;" th:text="${prize.content}" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="place" class="col-sm-2 control-label">地点</label>
                            <div class="col-sm-10">
                                 <input type="text" readonly="readonly" name="place" class="form-control" id="place" th:value="${prize.place}"/>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label for="check" class="col-sm-2 control-label">考核情况</label>
                            <div class="col-sm-10">
                                <input type="text" readonly="readonly" name="checks" class="form-control" id="checks" th:value="${prize.checks}"/>
                            </div>
                        </div>
                        <div class="form-group" >
                            <label for="content" class="col-sm-2 control-label">上传方式</label>
                            <div class="col-sm-10">
                            <select id="selectxz" class="form-control" disabled="disabled">
                           <option value="0" th:selected="${imageType eq '0'}">附件</option>
                           <option value="1" th:selected="${imageType eq '1'}">图片</option>
                           </select> 
                            </div>
                        </div>
                        <div  class="form-group"   >
                           <label id="dpyl" for="content" class="col-sm-2 control-label">预览</label>  
					         <div class="col-sm-10" id="imagewj" style="display: none;">
					          <input type="hidden" style="display: none" class="filess" name="filess"  th:value="${imageType}"/> 
					         <span  th:id = "${image.imgName}" style="cursor:pointer" th:if="${formType !='ADD'}" th:each="image : ${images}" class="img-thumbnail" th:text="${image.imgFileName}" ></span> 
							</div>
							
							<div  class="col-sm-10" id="imagetb" style="display: none;">
					         <img  th:if="${images != null }" th:each="image : ${images}"  width="180px" class="img-thumbnail" alt="" th:src="(${basePath})+(${image.prizeId})+'/'+(${image.imgName})" /> 
					         
					         </div>
                         </div>
                         <div class="form-group">
                          <label for="checkPeople" class="col-sm-2 control-label">核定部门(人)</label>
                            <div class="col-sm-10">
                            <input type="text" readonly="readonly" name="checkPeople" class="form-control" id="checkPeople"  th:value="${prize.checkPeople}"/>
                            </div>
                         </div>
                        <div class="form-group">
                            <label for="checkPeople" class="col-sm-2 control-label">操作状态</label>
                            <div class="col-sm-10">
                            <select id="operationState" disabled="disabled"  name="operationState" class="form-control tonto-select-constant" enumcode="operation" th:attr="selectedvalue=${prize.operationState}"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="checkPeople" class="col-sm-2 control-label">审核结果</label>
                            <div class="col-sm-5">
                            <select required="required" id="examineState" name="examineState" class="form-control tonto-select-constant" enumcode="examine">
					      </select>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-3">
                                <button  type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:include="console/footer"></div>
</body>
<script type="text/javascript">
	$(function(){
		select();
		if($("#formType").val() =='ADD'){
			FormatDate(new Date());
		}
		  
	})
	
	  	function select(){
		var xz=$("#selectxz").val();
		if(xz=="1"){
			$("#imageAll").val(""); 
			$("#imagetb").show();
			document.getElementById("imagetb").style.display = "";
			
		}
		if(xz=="0"){	
			$("#imageAll").val(""); 
			$("#imagewj").show();
		}
	} 
	
	
	//时间文本框默认当前时间
	function FormatDate (strTime) {
	    var date = new Date(strTime);
	    var date2= date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate();
	    $("#datepicker1").val(date2);
	}
	
</script>
</html>