<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="console/header">
</head>
<body>
<section class="content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="box box-primary">
            	<input type="hidden" id="formType" class="tonto-form-type" th:value="${formType}" />
                <div class="box-header with-border" th:switch="${formType}">
                      <h3 th:case="'ADD'" class="box-title">添加评价信息</h3>
					  <h3 th:case="'VIEW'" class="box-title">查看评价详情</h3>
					  <h3 th:case="'EDIT'" class="box-title">修改评价信息</h3>
                </div>
                <div class="box-body">
                    <form id="unitForm" class="form-horizontal tonto-form-validate" action="/console/society/save" method="post">
                      <input type="hidden" name="id" class="form-control" id="id"  th:value="${society.id}"/>
                        <div class="form-group" th:switch="${formType}" >
                        	<label class="col-sm-2 control-label">机构名称</label>
                       		<div class="col-sm-5" style="margin-bottom: 10px;">
                       			<input th:case="'VIEW'" readonly="readonly"  type="text" name="name" class="form-control" id="place" th:value="${society.unitRootName}"/>
                               <input th:case="'EDIT'" readonly="readonly"  type="text" name="name" class="form-control" id="place" th:value="${society.unitRootName}"/>
                               <input th:case="'ADD'" readonly="readonly"  type="text" name="name" class="form-control" id="place" th:value="${userUnit}"/>
                        	</div>
                        	</div>
                        	 <div class="form-group">
                         	<label class="col-sm-2 control-label">评价时间</label>
                       		<div class="col-sm-5" >
                                 <input required="required"  type="text" id="evaluateTime" name="evaluateTime" class="form-control tonto-datepicker-date" readonly="readonly" th:value="${society.evaluateTime}" placeholder="请选择日期" />
                        	</div>
                        </div>	
                        <div class="form-group">
                            <label for="content" class="col-sm-2 control-label">被考评科室</label>
                            <div class="col-sm-5">
                                <select id="orgKsId" name="orgKsId" class="form-control" required="required">
                               		<option th:each="unitid,unitidStat:${unitid}" th:selected="${#strings.equals(unitid.uid, society.orgKsId)}"  th:text="${unitid.unitName}" th:value="${unitid.uid}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="place" class="col-sm-2 control-label">姓名</label>
                            <div class="col-sm-5">
                                <select id="orgUserId" name="orgUserId" class="form-control" required="required">
                               		<option th:each="userid,useridStat:${userid}" th:selected="${#strings.equals(userid.id, society.orgUserId)}"  th:text="${userid.name}" th:value="${userid.id}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="check" class="col-sm-2 control-label">评价等次</label>
                            <div class="col-sm-5">
                                <select name="kpGrade" class="form-control tonto-select-constant" required="required" enumcode="ass-grades" th:attr="selectedvalue=${society.kpGrade}"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="checkPeople" class="col-sm-2 control-label">评价人</label>
                            <div class="col-sm-5">
                            <input type="text" name="evaluatePeople" class="form-control" id="evaluatePeople"  th:value="${society.evaluatePeople}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-3">
                                <button name="submitname" type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div th:include="console/footer"></div>
</body>
<script type="text/javascript">
	$(function(){		
				
		if($("#formType").val() =='ADD'){
			FormatDate(new Date());
		}
	})
	
	//时间文本框默认当前时间
	function FormatDate (strTime) {
	    var date = new Date(strTime);
	    var date2= date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate();
	    $("#evaluateTime").val(date2);
	}

</script>
</html>