<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paladin.hf.mapper.assess.quantificate.TemplateMapper">
  <resultMap id="BaseResultMap" type="com.paladin.hf.model.assess.quantificate.Template">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="org_unit_id" jdbcType="VARCHAR" property="orgUnitId" />
    <result column="template_name" jdbcType="VARCHAR" property="templateName" />
    <result column="template_describe" jdbcType="VARCHAR" property="templateDescribe" />
    <result column="enable_state" jdbcType="VARCHAR" property="enableState" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_adminid" jdbcType="VARCHAR" property="createAdminid" />
    <result column="update_time" jdbcType="DATE" property="updateTime" />
    <result column="update_adminid" jdbcType="VARCHAR" property="updateAdminid" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <association property="orgUnit" javaType="com.paladin.hf.model.org.OrgUnit">
			<id property="uid" column="uid" />
			<result property="unitName" column="unit_name" />
		</association>
  </resultMap>
  
  <!-- 条件查询考评模板列表 -->
  <select id="getTemplateList" parameterType="com.paladin.hf.model.assess.quantificate.Template" resultMap="BaseResultMap" >
	SELECT
	ou.unit_name,
	t.*
	FROM
	template t
	LEFT JOIN org_unit ou ON t.org_unit_id = ou.uid WHERE 1=1
	<if test="templateName!='' and templateName!=null">
		and t.template_name=#{templateName}
	</if>
	<if test="enableState!='' and enableState!=null">
		and t.enable_state=#{enableState}
	</if>
	<if test="orgUnit!='' and orgUnit!=null">
		and ou.unit_name=#{orgUnit.unitName}
	</if>
	ORDER BY t.create_time DESC
  </select>
  
  <!-- 启用考评模板 -->
  <update id="updateTemplateStateById" parameterType="String">
  		update template t set t.enable_state=#{enableState} where t.id=#{id}
  </update>
  
  <!-- 根据template表的主键关联查询 -->
  <select id="selectByPriKey" parameterType="String" resultMap="BaseResultMap">
	SELECT
	ou.unit_name,
	t.*
	FROM
	template t
	LEFT JOIN org_unit ou ON t.org_unit_id = ou.uid
	WHERE
	1 = 1
	AND t.id = #{value}
  </select>
  
  <!-- 根据模板id查询对应的考评周期id -->
  <select id="selectAssessCycleByTemplateId" resultType="Integer">
        SELECT COUNT(0) from assess_cycle_template  WHERE template_id = #{id} 
  </select>
  
  <select id="levelCount" resultType="Integer">
 	 SELECT COUNT(0) FROM `assess_level` WHERE template_id=#{id}
  </select>
  
    <select id="itemCount" resultType="Integer">
  		SELECT COUNT(0) FROM `assess_item` WHERE template_id=#{id}
  </select>
  
</mapper>