<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="console/header">
</head>

<body>
    <section class="content-header">
        <div class="pull-right">
            <a href="/console/assess/quantitative/department/index" class="btn btn-warning"><i class="glyphicon glyphicon-share-alt"></i>返回</a>
        </div>
        <h1>人员量化考评-科室</h1>
        <small>人员详情</small>
    </section>
    <section class="content-header">
        <div style="border: 1px #ddd solid; padding-top:20px" class="box-body">
            <form id="searchbar" class="form-horizontal">
                <input type="hidden" th:value="${userId}" name="userId" />
                <div class="form-group">
                    <label style="width: 130px" for="cycleId" class="col-sm-2 control-label">考评周期</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control tonto-select-assess-cycle" required="required" th:attr="cycleid=${assessCycleId},cyclename=${assessCycleName}" name="cycleId" placeholder="请选择周期"></input>
                    </div>
                </div>
                <div class="form-group">
                    <label for="eventType" style="width:130px" class="col-sm-2 control-label">事件类型</label>
                    <div class="col-sm-2">
                        <select name="eventType" class="form-control">
                            <option value="">请选择</option>
                        </select>
                    </div>
                    <label for="startHappenTime" style="width:130px" class="col-sm-2 control-label">发生时间</label>
                    <div class="col-sm-2">
                        <input type="text" name="startHappenTime" class="form-control col-sm-2 tonto-datepicker-date" readonly="readonly" placeholder="请选择日期" />
                    </div>
                    <label for="endHappenTime" style="width:80px;text-align:center" class="col-sm-2 control-label">至</label>
                    <div class="col-sm-2">
                        <input type="text" name="endHappenTime" class="form-control col-sm-2 tonto-datepicker-date" readonly="readonly" placeholder="请选择日期" />
                    </div>
                    <label for="name" style="width:80px" class="col-sm-2 control-label"></label>
                    <div class="col-sm-2" style="text-align:right">
                        <a href="javascript:table.refresh();" class="btn btn-primary">查询</a>
                        <button type="reset" class="btn">重置</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <section class="content table-content">
        <table id="dataGrid"></table>
    </section>
    <div id="toolbar">
    </div>
    <div th:include="console/footer"></div>
    <script type="text/javascript">
    /*<![CDATA[*/
    var table;
    $(function() {
        $.getConstantEnum(["examine", "operation", "event_type", { code: "event_type", type: 'select', target: '[name="eventType"]' }], initDataGrid);
    });

    function initDataGrid(enumMap) {
        table = $.createTable("#dataGrid", {
            idField: "id",
            columns: [
                [
                    { title: "事件类型", field: "dictCode", formatter: $.getEnumColumnFormatter(enumMap, "event_type") },
                    { title: "发生时间", field: "happenTime" },
                    { title: "核定部门(人)", field: "checkPeople" },
                    { title: "操作状态", field: "operationState", formatter: $.getEnumColumnFormatter(enumMap, "operation") },
                    { title: "审核状态", field: "examineState", formatter: $.getEnumColumnFormatter(enumMap, "examine") },
                    { title: "审核人", field: "examinePeople" },
                    {
                        title: "查看",
                        width: "60px",
                        align: 'center',
                        events: {
                            'click .view': function(e, value, row, index) {
                                view(row);
                            }
                        },
                        formatter: $.viewColumnFormatter()
                    },
                    {
                        title: "评分",
                        width: "60px",
                        align: 'center',
                        events: {
                            'click .score': function(e, value, row, index) {
                                score(row);
                            }
                        },
                        formatter: $.tableColumnFormatter('评分', 'score', 'plus')
                    },
                    {
                        title: "量化考评",
                        width: "100px",
                        align: 'center',
                        events: {
                            'click .assess': function(e, value, row, index) {
                                assess(row);
                            }
                        },
                        formatter: $.tableColumnFormatter('量化考评', 'assess')
                    },
                    {
                        title: "查看考评",
                        width: "100px",
                        align: 'center',
                        events: {
                            'click .view-assess': function(e, value, row, index) {
                                viewAssess(row);
                            }
                        },
                        formatter: $.tableColumnFormatter('查看考评', 'view-assess', 'search')
                    }
                ]
            ],
            url: '/console/assess/quantitative/user/detail',
            searchbar: '#searchbar',
            pagination: false,
            toolbar: "#toolbar",
            showRefresh: true,
            showToggle: true
        });
    }

    function score(row) {

        $.locationPost("/console/assess/quantitative/user/score/index", {
            userId: $('[name="userId"]').val(),
            cycleId: $('[name="cycleId"]').val(),
            prizePunishId: row.prizepunishId
        });

    }

    function view(row) {
        layer.open({
            type: 2,
            title: ' ',
            maxmin: true, //开启最大化最小化按钮
            area: $.getOpenLayerSize(800, 700),
            content: '/console/peacet/view?id=' + row.prizepunishId
        });
    }

    function assess(row) {
        var content = '<section class="content">' +
            '<div class="row">' +
            '<div class="col-md-12">' +
            '<div class="box box-primary">' +
            '     <div class="box-header with-border">' +
            '         <h4 class="box-title">考评结果</h3>' +
            '     </div>' +
            '     <div class="box-body">' +
            '         <div style="max-height:350px"><table id="dataGrid1" class="table table-bordered"></table></div>' +
            '         <div style="margin-top:10px">' +
            '         <label>基础得分</label>' +
            '         <input id="baseScore" style="width:60px" readonly/>' +
            '         <label>加分</label>' +
            '         <input id="addScore" style="width:60px" readonly/>' +
            '         <label>扣分</label>' +
            '         <input id="reduceScore" style="width:60px" readonly/>' +
            '         <label>总得分</label>' +
            '         <input id="lastScore" style="width:60px" readonly/>' +
            '         <label>一票否决</label>' +
            '         <input id="veto" style="width:60px" readonly/>' +
            '         </div>' +
            '     </div>' +
            ' </div>' +
            ' </div>' +
            ' </div>' +
            ' </section>';

        layer.open({
            type: 1,
            title: ' ',
            maxmin: true, //开启最大化最小化按钮
            area: $.getOpenLayerSize(900, 560),
            content: content,
            success: function(layero, index) {
                $.getAjax("/console/assess/quantitative/result/detail?cycleId=" + $('[name="cycleId"]').val() + "&userId=" + $('[name="userId"]').val(), initAssessDetail);
            }
        });
    }

    // ----------------------------------------
    // 画表格
    // ----------------------------------------

    function initAssessDetail(data) {
        var g = function(nodeItems, data, depth) {

            var nodes = [];

            if ($.isArray(nodeItems)) {
                nodeItems.forEach(function(item) {
                    var node = {
                        text: item.itemName,
                        data: item,
                        depth: depth
                    };

                    var children = $.grep(data, function(row, index) {
                        return item.id == row.parentItemId;
                    });

                    if (children && children.length > 0) {
                        node.nodes = g(children, data, depth + 1);
                    }

                    nodes.push(node);
                })
            }
            return nodes;
        }

        // 初始化树数据

        if (data.extras) {
            createExtras(data.extras);
        }

        if (data.items) {
            var items = data.items;
            var roots = $.grep(items, function(row, index) {
                return row.parentItemId == null;
            });
            var treedata = g(roots, items, 0);
            createTable(treedata);
        }

        var baseScore;
        var addScore;
        var reduceScore;
        var isVeto;

        if (data.result) {
            var r = data.result;
            baseScore = r.baseScore || 0;
            addScore = r.addScore || 0;
            reduceScore = r.reduceScore || 0;
            isVeto = r.isVeto || 0;
        } else {
            baseScore = data.baseScore || 0;
            addScore = data.addScore || 0;
            reduceScore = data.reduceScore || 0;
            isVeto = data.isVeto || 0;
        }

        var lastScore = baseScore + addScore - reduceScore;

        $("#baseScore").val(baseScore);
        $("#addScore").val(addScore);
        $("#reduceScore").val(reduceScore);
        $("#veto").val(isVeto == 1 ? "有" : "无");
        $("#lastScore").val(lastScore);
    }

    var addExtra = "";
    var lessExtra = "";
    var voteExtra = "";

    function createExtras(extras) {

        addExtra = "<ol>";
        lessExtra = "<ol>";
        voteExtra = "<ol>";

        if (extras) {
            for (var y = 0; y < extras.length; y++) {
                var extraItem = extras[y];
                if (extraItem.extraType == '1') {
                    addExtra += "<li><p>" + extraItem.extraDescription + "</p>";
                    addExtra += "<p>【加分下限：" + extraItem.alterLower + "，加分上限：" + extraItem.alterUpper + "，累计上限：" + (extraItem.accumulateUpper || "不计上限") + "】<p></li>";
                }
                if (extraItem.extraType == '2') {
                    lessExtra += "<li><p>" + extraItem.extraDescription + "</p>";
                    lessExtra += "<p>【扣分下限：" + extraItem.alterLower + "，扣分上限：" + extraItem.alterUpper + "，累计上限：" + (extraItem.accumulateUpper || "不计上限") + "】<p></li>";
                }
                if (extraItem.extraType == '3') {
                    voteExtra += "<li>" + extraItem.extraDescription + "</li>";
                }
            }
        }
        addExtra += "</ol>";
        lessExtra += "</ol>";
        voteExtra += "</ol>";
    }

    function createTable(treedata) {

        var trs = [];
        for (var i = 0; i < treedata.length; i++) {
            getRow(treedata[i], null, trs);
        }

        var html = "<tbody>";
        var maxDepth = 1;
        var maxDepthIndex = 0;
        var j = 0
        for (; j < trs.length; j++) {
            if (trs[j].length > maxDepth) {
                maxDepth = trs[j].length;
                maxDepthIndex = j;
            }
        }
        for (j = 0; j <
            trs.length; j++) {
            var tr = trs[j];
            html += "<tr>";
            var x = 0
            for (; x < tr.length; x++) {
                var td = tr[x];
                var data = td.data;
                var rowspan = td.rowspan;
                html += "<td valign='middle' style='vertical-align:middle' rowspan='" + rowspan + "'>" + data.itemName + "</td>";
                html += "<td valign='middle' style='vertical-align:middle' rowspan='" + rowspan + "'>" + (data.itemDescription || "") + "</td>";
                html += "<td valign='middle' style='vertical-align:middle;text-align:center;width:50px' align='center' rowspan='" + rowspan + "'>" + data.basicScore + "</td>";
            }
            var depth = (tr.length > 0 ? tr[tr.length - 1].depth : 0);
            var d = maxDepth - depth - 1;
            if (d > 0) {
                html += "<td colspan='" + (d * 3) + "'> </td>";
            }
            if (j == 0) {
                html += "<td rowspan='" + trs.length + "'>" + addExtra + "</td>";
                html += "<td rowspan='" + trs.length + "'>" + lessExtra + "</td>";
                html += "<td rowspan='" + trs.length + "'>" + voteExtra + "</td>";
            }
        }
        html += "</tbody>";
        var thead = "<thead><tr>" + "<th align='center' style='text-align:center' colspan='" + (maxDepth * 3) + "'>考评项目</th>" +
            "<th align='center' style='text-align:center' rowspan='2'>加分</th>" +
            "<th align='center' style='text-align:center' rowspan='2'>扣分</th>" +
            "<th align='center' style='text-align:center' rowspan='2'>一票否决</th></tr>";

        thead += "<tr>";

        for (j = 0; j < maxDepth; j++) {
            thead += "<th align='center' style='text-align:center'>名称</th>";
            thead += "<th align='center' style='text-align:center'>描述</th>";
            thead += "<th align='center' style='text-align:center'>分数</th>";
        }

        thead += "</tr></thead>";
        $("#dataGrid1").html(thead + html);
    }

    function getRowspan(node) {
        if (node.nodes) {
            var s = 0;
            for (var i = 0; i < node.nodes.length; i++) {
                var subnode = node.nodes[i];
                s += getRowspan(subnode);
            }
            return s;
        }
        return 1;
    }

    function getRow(node, tr, trs) {
        if (!tr) {
            tr = [];
            trs.push(tr);
        }
        var rowspan = getRowspan(node);
        tr.push({
            data: node.data,
            rowspan: rowspan,
            depth: node.depth
        });
        var nodes = node.nodes;
        if (nodes && nodes.length > 0) {
            var first = nodes[0];
            getRow(first, tr, trs);
            for (var i = 1; i < nodes.length; i++) {
                getRow(nodes[i], null, trs);
            }
        }
    }

    /*]]>*/
    </script>
</body>

</html>