<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netmatch.mapper.console.DepartmentMapper">
	<resultMap id="BaseResultMap" type="com.netmatch.model.console.DepartmentInfo">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="dep_type_id" jdbcType="VARCHAR" property="depTypeId" />
		<result column="dep_name" jdbcType="VARCHAR" property="depName" />
		<result column="contacts" jdbcType="VARCHAR" property="contacts" />
		<result column="cont_phone" jdbcType="VARCHAR" property="contPhone" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="create_id" jdbcType="VARCHAR" property="createId" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="update_id" jdbcType="VARCHAR" property="updateId" />
		<result column="remarks" jdbcType="VARCHAR" property="remarks" />
		<association property="dict" javaType="com.netmatch.model.console.Dict">
			<id property="id" column="id" />
			<result property="dictName" column="dict_name" />
		</association>
	</resultMap>
	
		<!-- 模糊查询科室列表信息 -->
	<select id="getDepartList" parameterType="com.netmatch.model.console.DepartmentInfo"
		resultMap="BaseResultMap">
		select di.*,d.dict_name from department_info di LEFT JOIN dict d on
		di.dep_type_id=d.id where 1=1 
		<if test="depTypeId!='' and depTypeId!=null">
			and di.dep_type_id=#{depTypeId} 
		</if>
		<if test="depName !='' and depName!=null">
			and di.dep_name like concat('%',#{depName},'%') 
		</if>
		order by di.create_time desc
	</select>
		
		<!-- 根据id查看科室详情 -->
	<select id="selectDepartInfoId" parameterType="String" resultMap="BaseResultMap">
		select di.*,d.dict_name from department_info di LEFT JOIN dict d on
			di.dep_type_id=d.id where 1=1 and di.id=#{VALUE}
	</select>

</mapper>