<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netmatch.mapper.console.DictMapper">
  <resultMap id="BaseResultMap" type="com.netmatch.model.console.Dict">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="dict_code" jdbcType="VARCHAR" property="dictCode" />
    <result column="dict_name" jdbcType="VARCHAR" property="dictName" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="child_num" jdbcType="INTEGER" property="childNum" />
    <result column="dict_type" jdbcType="VARCHAR" property="dictType" />
    <result column="dict_type_name" jdbcType="VARCHAR" property="dictTypeName" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    `dict_code`,
  `dict_type_name`,
  `dict_name`,
  `sort`,
  `parent_id`,
  `child_num`,
  `dict_type`,
  `status`
  </sql>
  <insert id="insertSelective" parameterType="com.netmatch.model.console.Dict" >
    insert into dict
    <trim prefix="(" suffix=")" suffixOverrides=",">
      
      <if test="dictCode != null">
        dict_code,
      </if>
       <if test="dict_type_name != null">
        dict_type_name,
      </if>
      
      <if test="dictName != null">
        dict_name,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="childNum != null">
        child_num,
      </if>
      <if test="dictType != null">
        dict_type,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dictCode != null">
        #{dictCode,jdbcType=VARCHAR},
      </if>
      
      <if test="dictTypeName != null">
        #{dictTypeName,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null">
        #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="childNum != null">
        #{childNum,jdbcType=INTEGER},
      </if>
      <if test="dictType != null">
        #{dictType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.netmatch.model.console.Dict">
    update dict
    <set>
      <if test="dictCode != null">
        dict_code = #{dictCode,jdbcType=VARCHAR},
      </if>
      <if test="dictName != null">
        dict_name = #{dictName,jdbcType=VARCHAR},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="childNum != null">
        child_num = #{childNum,jdbcType=INTEGER},
      </if>
      <if test="dictType != null">
        dict_type = #{dictType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.netmatch.model.console.Dict">
    update dict
    set dict_code = #{dictCode,jdbcType=VARCHAR},
      dict_name = #{dictName,jdbcType=VARCHAR},
      sort = #{sort,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=VARCHAR},
      child_num = #{childNum,jdbcType=INTEGER},
      dict_type = #{dictType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select id="countByParentId" parameterType="String" resultType="Integer">
  		SELECT COUNT(*) from dict where parent_id=#{value}
  </select>
  
  <!-- 根据dictcode查询字典信息 -->
  <select id="selectDict"  parameterType="String" resultMap="BaseResultMap">
 <!--  SELECT d2.id,d2.dict_name,d2.dict_code FROM dict d LEFT JOIN dict AS d2 ON d.id=d2.parent_id WHERE d.dict_code=#{dict_code}  -->
	SELECT *  FROM dict WHERE dict_code=#{dict_code} AND status=0
  </select>
  	
  	<!-- 根据dictcode或dictname查询字典信息 -->
 	<select id="selectDictByCode" parameterType="Map" resultMap="BaseResultMap">
  		SELECT *  FROM dict WHERE 1=1
  			 <if test="dictName !='' and dictName!=null">
			and dict_name like concat('%',#{dictName},'%') 
			</if>
  		and dict_code=#{dictCode} AND status=0 order by sort desc
  	</select>
  	
  	<!--根据dictcode查询指定字段 -->
  	<select id="queryDicByCode" parameterType="String" resultMap="BaseResultMap">
  		SELECT * FROM dict  WHERE dict_code=#{dict_code} 
  	</select>
  	
  <!-- 根据id查询字典信息 -->
  <select id="selectDictInfoId" parameterType="String" resultMap="BaseResultMap">
  		SELECT d.dict_name,d.id from dict d where id=#{VALUE}
  </select>
  
  <select id="getDictNameByName" parameterType="String" resultType="String">
  	SELECT d.dict_name from dict d WHERE dict_name=#{VALUE}
  </select>
  	
  	<select id="dictSort" resultType="com.netmatch.model.console.Dict">
 		SELECT *  FROM dict WHERE 1=1 AND dict_code='SJLX' AND STATUS=0 ORDER BY sort DESC LIMIT 0 ,1
  </select>
  
  <update id="updateDict" parameterType="com.netmatch.model.console.Dict" >
	update dict set 
     dict_name = #{dictName,jdbcType=VARCHAR} 
   	 where dict_code = #{dictCode,jdbcType=VARCHAR} AND
     sort = #{sort,jdbcType=VARCHAR} 
  </update>
  
  <select id="selectDicts" resultType="com.netmatch.model.console.Dict" >
  SELECT dict_code AS  dictCode, dict_type_name AS dictTypeName ,dict_name AS dictName,sort FROM  dict WHERE dict_code=#{dictCode} AND sort=#{sort} AND status='0'
  </select>
  
  <delete id="deleteDictId">
  DELETE  FROM dict WHERE dict_code = #{dictCode} AND sort=#{sort}   AND STATUS='0'
  </delete>
  
  <select id="selectDictPrize" parameterType="Map" resultMap="BaseResultMap">
  SELECT * FROM dict WHERE dict_code='SJLX' and status=0 
  <if test="sort !=null and sort !='' ">
  AND sort=#{sort}
  </if>
  
  </select>
  
</mapper>