<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netmatch.mapper.console.PersonnelMapper">
  <resultMap id="BaseResultMap" type="com.netmatch.model.console.Personnel">
  	<id column="id" jdbcType="VARCHAR" property="id" />
    <result column="per_system_id" jdbcType="VARCHAR" property="perSystemId" />
    <result column="per_name" jdbcType="VARCHAR" property="perName" />
    <result column="per_sex" jdbcType="VARCHAR" property="perSex" />
    <result column="nation" jdbcType="VARCHAR" property="nation" />
    <result column="dict_diploma" jdbcType="VARCHAR" property="dictDiploma" />
    <result column="dict_duties" jdbcType="VARCHAR" property="dictDuties" />
    <result column="dict_rank" jdbcType="VARCHAR" property="dictRank" />
    <result column="user_level" jdbcType="VARCHAR" property="userLevel" />
    <result column="filing_time" jdbcType="DATE" property="filingTime" />
    <result column="date_birth" jdbcType="VARCHAR" property="dateBirth" />
    <result column="per_phone" jdbcType="VARCHAR" property="perPhone" />
    <result column="per_ssjg" jdbcType="VARCHAR" property="perSsjg" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="dict_artment" jdbcType="VARCHAR" property="dictArtment" />
    <result column="resume" jdbcType="VARCHAR" property="resume" />
    <result column="dict_att" jdbcType="VARCHAR" property="dictAtt" />
    <result column="dict_party" jdbcType="VARCHAR" property="dictParty" />
    <result column="per_card" jdbcType="VARCHAR" property="perCard" />
    <result column="is_admin" jdbcType="TINYINT" property="isAdmin" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="is_examiner" jdbcType="VARCHAR" property="isExaminer" />
    <result column="per_kpxz" jdbcType="VARCHAR" property="perKpxz" />
    <result column="joinwork_time" jdbcType="TIMESTAMP" property="joinworkTime" />
    <result column="startwork_time" jdbcType="TIMESTAMP" property="startworkTime" />
    <result column="per_reward" jdbcType="VARCHAR" property="perReward" />
    <result column="per_handlle" jdbcType="VARCHAR" property="perHandlle" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_adminid" jdbcType="VARCHAR" property="createAdminid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_adminid" jdbcType="VARCHAR" property="updateAdminid" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  
  <select id="selectPersonnel" resultType="Map">
  SELECT per.unit,
  	per.id,
	per.`is_examiner`,
	per.`per_name`,
	per.`per_system_id`,
	per.`per_sex`,
	per.`per_phone`,
	per.`per_card`,
	per.`filing_time`,
	(SELECT dict.dict_name FROM dict  WHERE dict.id=per.`dict_duties`) AS dict_duties,
	(SELECT dict.dict_name FROM dict  WHERE dict.id=per.`dict_rank`) AS dict_rank,
	(SELECT dict.dict_name FROM dict  WHERE dict.id=per.`dict_diploma`) AS dict_diploma,
	(SELECT dict.dict_name FROM dict  WHERE dict.id=per.`dict_artment`) AS dict_artment
  FROM `personnel` AS per where 1=1 AND per.`is_del`='0' 
  <if test="dictArtment != null and dictArtment !='' ">
  and dict_artment=#{dictArtment}
  </if>
  <if test="perName!=null and perName!='' ">
  and per.per_name=#{perName}
  </if>
   <if test="dictDuties!=null and dictDuties!='' ">
  and dict_duties=#{dictDuties}
  </if>
  <if test="isExaminer!=null and isExaminer!='' ">
  and per.is_examiner=#{isExaminer}
  </if>
  <if test="filingTime!=null and filingTime!='' ">
  and per.filing_time like concat('%',#{filingTime},'%')
  </if> 
  </select>
  
  <select id="selectPersonnelId" resultType="Map">
  
    SELECT per.unit,
  	per.id,
	per.`is_examiner`,
	per.`per_name`,
	per.`per_system_id`,
	per.`per_sex`,
	per.`per_phone`,
	per.`per_card`,
	per.`filing_time`,
	per.per_reward,
	per.per_handlle,
	per.resume,
	per.date_birth,
	per.joinwork_time,
	per.startwork_time,
	(SELECT role.`role_name` FROM role  WHERE role.role_id = per.`user_level`) AS role_level,
	(SELECT dict.dict_name FROM dict  WHERE dict.id=per.`dict_att`) AS dict_att,
	(SELECT dict.dict_name FROM dict  WHERE dict.id=per.`nation`) AS nation,
	(SELECT dict.dict_name FROM dict  WHERE dict.id=per.`dict_duties`) AS dict_duties,
	(SELECT dict.dict_name FROM dict  WHERE dict.id=per.`dict_rank`) AS dict_rank,
	(SELECT dict.dict_name FROM dict  WHERE dict.id=per.`dict_diploma`) AS dict_diploma,
	(SELECT dict.dict_name FROM dict  WHERE dict.id=per.`dict_artment`) AS dict_artment
  FROM `personnel` AS per WHERE 1=1 AND per.`is_del`='0'   AND id=#{id}
  </select>
  
  <select id="selectSystemId" parameterType="com.netmatch.model.console.Personnel" resultMap="BaseResultMap">
  SELECT per_system_id FROM `personnel` WHERE per_system_id=#{perSystemId}
  </select>
</mapper>