<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.netmatch.mapper.console.UnitinfoMapper">
  <resultMap id="BaseResultMap" type="com.netmatch.model.console.Unitinfo">
    <id column="unitinfo_id" jdbcType="VARCHAR" property="unitinfoId" />
    <result column="unit_name" jdbcType="VARCHAR" property="unitName" />
    <result column="unit_type" jdbcType="VARCHAR" property="unitType" />
    <result column="unit_address" jdbcType="VARCHAR" property="unitAddress" />
    <result column="unit_phone" jdbcType="VARCHAR" property="unitPhone" />
    <result column="unit_contacts" jdbcType="VARCHAR" property="unitContacts" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_adminid" jdbcType="VARCHAR" property="createAdminid" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_adminid" jdbcType="VARCHAR" property="updateAdminid" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  
  <select id="selectUnitInfo" resultType="Map">
  SELECT u.unitinfo_id, d.dict_name, u.unit_name, u.unit_contacts, u.unit_phone ,u.dict_id, u.create_time 
  FROM `unitinfo` AS u , `dict` AS d  where 1=1 
  <if test="unitName!='' and unitName!=null ">
  	and u.unit_name like concat('%',#{unitName},'%') 
  </if>
  <if test="dict_id!=0 and dict_id!=null ">
  	and u.dict_id=#{dict_id}
  </if>
  <if test="unitPhone!='' and unitPhone!=null ">
  	and u.unit_phone=#{unitPhone} 
  </if>
  <if test="unitContacts!='' and unitContacts!=null ">
  	and u.unit_contacts=#{unitContacts} 
  </if>
  and u.dict_id=d.id <!-- ORDER BY create_time DESC --> 
  </select>
  
  <select id="selectUnitInfoId" resultType="Map">
  SELECT u.unitinfo_id, d.dict_name, u.unit_name, u.unit_contacts, u.unit_phone ,u.dict_id,u.unit_address
  FROM `unitinfo` AS u  LEFT JOIN dict AS d ON u.dict_id=d.id WHERE u.unitinfo_id=#{unitinfoid} 
  </select>
  
</mapper>