<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head th:include="console/header">
</head>

<body style="padding-right:20px;padding-left:20px">
    <section class="content">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">考评模板</h4>
                <div style="text-align:right;float:right"><a href="/console/temp/index" class="btn btn-warning btn-sm"><i class="glyphicon glyphicon-share-alt"></i>返回</a></div>
            </div>
            <div class="box-body form-horizontal">
            	<div class="col-sm-6">
                <div class="form-group">               
                	<input type="hidden" th:value="${temp.id}" id="templateId"/>
                    <label for="unitName" class="col-sm-2 control-label">机构名称</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="unitName" th:value="${temp.unitName}" readonly="true"></input>
                    </div>
                    <label for="templateName" class="col-sm-2 control-label">模板名称</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="templateName" th:value="${temp.templateName}" readonly="true"></input>
                    </div>
                </div>
                <div class=" form-group">
                    <label for="templateDescribe" class="col-sm-2 control-label">项目描述</label>
                    <div class="col-sm-10">
                        <textarea type="text" name="templateDescribe" class="form-control" rows="3" maxlength="200"  readonly="true" th:inline="text">[[${temp.templateDescribe}]]</textarea>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="box box-primary">
            <div class="box-header with-border">
                <h4 class="box-title">考评项目</h4>
            </div>
            <div class="box-body">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#table1" data-toggle="tab">合并表格</a></li>
                    <li><a href="#table2" data-toggle="tab">树形表格</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="row tab-pane fade in active" id="table1" style="padding:20px">
                        <table id="dataGrid1" class="table table-bordered"></table>
                    </div>
                    <div class="row tab-pane fade" id="table2" style="padding:20px">
                    	<div class="row">
                    		<div class="col-sm-6">
                        		<table id="dataGrid2"></table>
                    		</div>
                    		<div class="col-sm-6">
                        		<table id="dataGrid3" class="table table-bordered"></table>
                    		</div>
                    	</div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:include="console/footer"></div>
    <script type="text/javascript" src="/static/js/treetable.js"></script>
    <script type="text/javascript">
    /*<![CDATA[*/

    var table;
    $(function() {
        var id = $("#templateId").val();
        $.getAjax("/console/temp/detail?id=" + id, init);
    });

    function init(data) {

        // 初始化树数据
        
        if(data.extras) {
        	createExtras(data.extras);
        }

        if (data.items) {
            var items = data.items;

            var roots = $.grep(items, function(row, index) {
                return row.parentItemId == null;
            });

            var treedata = g(roots, items, 0);

            createTable(treedata);

            table = $.createTable("#dataGrid2", {
                columns: [
                    [
                        {title: "考评项名称", field: "itemName"},
                        {title: "基础得分", field: "basicScore"},
                        {title: "考评项内容", field: "itemDescription"}                       
                    ]
                ],
                data: data.items,
                pagination: false, //分页请设置为false
                treeView: true, //是否开启树视图
                treeId: "id", //id字段
                treeParentFilter: true, //过滤掉父节点不正确的（置为空）
                treeParentField: "parentItemId", //父ID字段
                treeField: "itemName" //展示树的字段
            });
            
            $("#dataGrid3").html(
            	"<thead><tr><th>加分项目</th><th>扣分项目</th><th>一票否决</th></tr></thead>"+
            	"<tbody><td>"+addExtra+"</td><td>"+lessExtra+"</td><td>"+voteExtra+"</td></tr></tbody>"
            );
            
        }

    }


    var g = function(nodeItems, data, depth) {

        var nodes = [];

        if ($.isArray(nodeItems)) {
            nodeItems.forEach(function(item) {
                var node = {
                    text: item.itemName,
                    data: item,
                    depth: depth
                };

                var children = $.grep(data, function(row, index) {
                    return item.id == row.parentItemId;
                });

                if (children && children.length > 0) {
                    node.nodes = g(children, data, depth + 1);
                }

                nodes.push(node);
            })
        }
        return nodes;
    }
	
    var addExtra = "";
    var lessExtra = "";
    var voteExtra = "";
    
    function createExtras(extras){
    	
    	addExtra = "<ol>";
        lessExtra = "<ol>";
        voteExtra = "<ol>";
        
        if (extras) {
            for (var y = 0; y < extras.length; y++) {
                var extraItem = extras[y];
                if (extraItem.extraType == '1') {
                    addExtra += "<li><p>" + extraItem.extraDescription + "</p>";
                    addExtra += "<p>【加分下限：" + extraItem.alterLower + "，加分上限：" + extraItem.alterUpper + "，累计上限：" + (extraItem.accumulateUpper || "不计上限") + "】<p></li>";
                }
                if (extraItem.extraType == '2') {
                    lessExtra += "<li><p>" + extraItem.extraDescription + "</p>";
                    lessExtra += "<p>【扣分下限：" + extraItem.alterLower + "，扣分上限：" + extraItem.alterUpper + "，累计上限：" + (extraItem.accumulateUpper || "不计上限") + "】<p></li>";
                }
                if (extraItem.extraType == '3') { 
                	voteExtra += "<li>" + extraItem.extraDescription + "</li>"; 
                }
            }
        }
        addExtra += "</ol>";
        lessExtra += "</ol>";
        voteExtra += "</ol>";
    }
    
    // ----------------------------------------
    // 画表格
    // ----------------------------------------


    function createTable(treedata) {

        var trs = [];
        for (var i = 0; i < treedata.length; i++) {
            getRow(treedata[i], null, trs);
        }

        var html = "<tbody>";
        var maxDepth = 1;
        var maxDepthIndex = 0;
        var j = 0
        for (; j <trs.length; j++) {
            if (trs[j].length > maxDepth) {
                maxDepth = trs[j].length;
                maxDepthIndex = j;
            }
        }
        for (j = 0; j <
            trs.length; j++) {
            var tr = trs[j];
            html += "<tr>";
            var x = 0
            for (; x < tr.length; x++) {
                var td = tr[x];
                var data = td.data;
                var rowspan = td.rowspan;
                html += "<td valign='middle' style='vertical-align:middle' rowspan='" + rowspan + "'>" + data.itemName + "</td>";
                html += "<td valign='middle' style='vertical-align:middle' rowspan='" + rowspan + "'>" + (data.itemDescription || "") + "</td>";
                html += "<td valign='middle' style='vertical-align:middle;text-align:center;width:50px' align='center' rowspan='" + rowspan + "'>" + data.basicScore + "</td>";
            }
            var depth = (tr.length > 0 ? tr[tr.length - 1].depth : 0);
            var d = maxDepth - depth - 1;
            if (d > 0) {
                html += "<td colspan='" + (d * 3) + "'> </td>";
            }
            if (j == 0) {                
                html += "<td rowspan='" + trs.length + "'>" + addExtra + "</td>";
                html += "<td rowspan='" + trs.length + "'>" + lessExtra + "</td>";
                html += "<td rowspan='" + trs.length + "'>" + voteExtra + "</td>";
            }
        }
        html += "</tbody>";
        var thead = "<thead><tr>" + "<th align='center' style='text-align:center' colspan='" + (maxDepth * 3) + "'>考评项目</th>" +
            "<th align='center' style='text-align:center' rowspan='2'>加分</th>" +
            "<th align='center' style='text-align:center' rowspan='2'>扣分</th>" +
            "<th align='center' style='text-align:center' rowspan='2'>一票否决</th></tr>";

        thead += "<tr>";

        for (j = 0; j < maxDepth; j++) {
            thead += "<th align='center' style='text-align:center'>名称</th>";
            thead += "<th align='center' style='text-align:center'>描述</th>";
            thead += "<th align='center' style='text-align:center'>分数</th>";
        }

        thead += "</tr></thead>";
        $("#dataGrid1").html(thead + html);
    }

    function getRowspan(node) {
        if (node.nodes) {
            var s = 0;
            for (var i = 0; i < node.nodes.length; i++) {
                var subnode = node.nodes[i];
                s += getRowspan(subnode);
            }
            return s;
        }
        return 1;
    }

    function getRow(node, tr, trs) {
        if (!tr) {
            tr = [];
            trs.push(tr);
        }
        var rowspan = getRowspan(node);
        tr.push({
            data: node.data,
            rowspan: rowspan,
            depth: node.depth
        });
        var nodes = node.nodes;
        if (nodes && nodes.length > 0) {
            var first = nodes[0];
            getRow(first, tr, trs);
            for (var i = 1; i < nodes.length; i++) {
                getRow(nodes[i], null, trs);
            }
        }
    }

    /*]]>*/
    </script>
</body>

</html>